[2015-05-19 16:36] Silex opened #1 "ETable or tabulated-list?"
Should we use https://github.com/Fuco1/ETable or https://www.gnu.org/software/emacs/manual/html_node/elisp/Tabulated-List-Mode.html?

Here's the list of requirements:

- Mark/unmark/toggle marks items
- Sortable columns

ETable supports all of this but still needs work to be done on it. Tabulated List Mode is standard emacs, if it supports all of it it's probably a better option?

[2015-05-19 19:29] Silex commented on #1
@marsam: I checked out tabulated-list a little bit, it looks nice! can't believe I missed it. I think I'll refactor with this instead of ETable because it is more mature, also people used to it will appreciate (e.g sorting).

I started a `tabulated-list` branch to see how easy it is to refactor.

[2015-05-19 19:41] Silex opened #2 "Make it use docker-api.el"
This is harder than it looks, because of several issues:

- images: it requires parsing them differently:
  - "docker images" returns one line per "repo:tag" combination, even if the image id is the same
  - "GET images/json" returns one hash per image, and has a "repo_tags" key which contains all its aliases
- run: people expect the popup to show the classic "run" options (-it, --rm, etc). Offeri

[2015-06-14 17:04] Silex commented on #1
Alright! I have a semi-working tabulated-list implementation. Tomorrow I'll make it work for containers.

[2015-06-15 17:37] Silex commented on #1
@marsam: ok, it now works using tabulated-list.

I'll implement containers soon so we have something working, and then there will be heavy refactoring. I gave up on designing it "perfect" and decided to "make it work" followed by "make it good".

[2015-06-15 17:37] #1 closed

[2015-06-15 19:49] marsam commented on #1
fair enough ;)

[2015-06-16 19:15] vindarel opened #3 "Description, documentation"
It would be great to have at least a brief description of what that package offers ! so than we aren't obliged to read from source.

Screenshots would be nice so than emacs can easily compare to other editors on this page for example: http://domeide.github.io/#emacs (from http://www.reddit.com/r/emacs/comments/3a2epo/docker_meets_the_ide_emacs_help_needed/)

[2015-06-16 20:30] Silex commented on #3
@vindarel: sure! but it's *very* alpha at the moment. As soon as I have something semi-working (like images & containers) I'll write a README with examples/screenshots and put it on MELPA.

I hope this is soon :)

[2015-06-16 21:18] vindarel commented on #3
Ohoh, I see :)
Does it serve the project to be reddit'ed so early ?

thx anyway and good luck :)

[2015-06-17 07:59] Silex commented on #3
Well yes in the sense that it motivates me to work on it, no in the sense that it's not finished so people might dismiss it.

I'll try to make a somewhat usable release tonight.

[2015-06-17 09:09] Silex opened #4 "Make it all non-blocking"
Steal from magit-process :)

[2015-06-17 09:27] Silex opened #5 "Make `C-c d` a variable"

[2015-06-17 09:40] Silex opened #6 "Docker coverage (commands, compose, swarm, etc)"
# Management commands:

| Items     | Description           | Done  |
|-----------|-----------------------|-------|
| compose   | docker-compose        |       |
| container | Manage containers     | Yes   |
| image     | Manage images         | Yes   |
| machine   | docker-machine        | Yes   |
| network   | Manage networks       | Yes   |
| node      | Manage Swarm nodes    |       |
| plugin

[2015-06-17 09:41] Silex opened #7 "Have `docker-run` use compilation-mode or some comint variant"

[2015-06-17 09:42] Silex commented on #3
@vindarel: alright, I improved the documentation quite a lot

Screenshots will follow when things stabilize. I also created issues so you see what's "next".

[2015-06-17 13:32] zakame opened #8 "missing dependency on magit-popup"
Installed from MELPA, could not make it work the first time since I didn't have `magit-popup` installed prior.

[2015-06-17 14:05] Silex commented on #8
Doh, you're right. Not sure how I missed it but thanks for reporting, will be fixed very soon.

[2015-06-17 14:11] #8 closed

[2015-06-19 11:59] Silex commented on #3
@vindarel: what do you think of the doc now?

[2015-06-20 09:49] Silex commented on #5
Done in  6b02a9c0331e120db71ede042f80be694379efcd

[2015-06-20 09:49] #5 closed

[2015-06-25 09:05] vindarel commented on #3
Hey, the doc is fantastic ! Very well done, and congrats for the tool. And the guy used it on is page. We're good !

maybe one thing not very clear: do you use magit's pop up system and how ? Allright, we'll see it as soon as we try the package but it may be relevant to show it in the doc.

[2015-06-25 09:36] Silex commented on #3
@vindarel: right, the popups needs to be documented too... I can't assume *everyone* is using magit, even tho they should :)

It's basically you press a key, it shows you a popup and you press other keys to do actions.

For example on images, after you select some of them, you can press `D` and it shows a popup offering you to press `D` again to really delete them, and you can also set options lik

[2015-06-25 09:46] Silex commented on #4
Ok, this is more or less solved by https://github.com/magit/magit/issues/1902

But maybe it's wise to wait the 1st of July when magit's next will be merged before depending on magit.

[2015-06-26 14:22] vindarel commented on #3
I myself love it yeah, and I love hydras and discover.el too. A screen or something would make it more appealing but I reckon it isn't really necessary.

[2015-07-02 13:55] vdemeester commented on #7
:+1: I want(ed) to do that for a while :stuck_out_tongue_closed_eyes:

[2015-07-02 14:03] Silex commented on #7
At the moment it uses `async-shell-command`, do you know what would be *right* to use?

I obviously have to work more on the `docker-run` popup to make it more useful (e.g support volumes etc), but the container running works more or less well already (you can run bash for example).

I guess I'd make a mode `docker-run-mode` taht inherits from `comint-mode`?

[2015-07-05 17:00] vdemeester commented on #7
Not really, I'm not really good in ``emacs-lisp`` for now, I just know enough to do some stuff on my config :sweat_smile:.

I would guess so too. I'll try to get some time to look at this too.

[2015-07-06 10:01] vdemeester commented on #6
@Silex Should we create an issue for some of these, like ``inspect`` (etc…), so it's easier to discuss on each of them (and the way they would be implemented) ?

[2015-07-06 11:26] Silex commented on #6
@vdemeester: maybe, but most of these can be implemented fairly straightforward... don't hesitate to create new issues if needed, but this will stay my goto ticket when I have time to implement new stuffs :)

[2015-07-06 11:32] vdemeester commented on #6
@Silex ok :wink:

[2015-07-13 16:10] mikefaille opened #9 "docker run: PS1 bash colors don't display properly"
This is what I see when I try to have an interactive output.

http://pastebin.com/gtkHBb2n

(github markdown interpret these characters chains ...)

[2015-07-13 17:26] Silex commented on #9
Hello,

Those are color escape code... can you explain exactly what you do to trigger this?

For example, if I select the unbutu:latest image and press `R R bash RET` I enter a bash prompt, and `ls -alh --color` works fine...

That said, I agree that the current implementation is to simple. See #7 for what will probably happen in the future.

[2015-07-13 17:41] mikefaille commented on #9
Ah, I use https://github.com/bbatsov/solarized-emacs as theme.

My ubuntu promt : http://pastebin.com/9DNGzUgR

[2015-07-13 18:08] Silex commented on #9
I think I found the issue... Please try this:

[code]

Inside your .emacs file

[2015-07-13 18:17] mikefaille commented on #9
It dont work.
I had (ansi-color-for-comint-mode-on) in my ~/.emacs.d/init.el
Recompile this file. Restart emacs.

And, when I docker exec, it dont work :-/

[2015-07-13 18:22] mikefaille commented on #9
If you want a preview : http://postimg.org/image/wfqxnq10p/

[2015-07-13 18:24] mikefaille commented on #9
Hum, if I tap enter after broken character, ls show

[code]

[2015-07-13 18:44] Silex commented on #9
Weird. What is your emacs version?

Can't you try the following steps and report:
* start `emacs -Q` from a terminal
* <kbd>M-x package-initialize</kbd>
* <kbd>M-x docker-images</kbd>
* Mark the ubuntu image using `m`
* Press `R R bash RET`
* Check if it works

Also, I see from your screenshot that sometimes it works sometimes not. Try typing "reset" and "clear" when that happens to see if it repa

[2015-07-13 18:48] mikefaille commented on #9
Crap, it work better.

[code]

[2015-07-13 19:14] Silex commented on #9
Hum, what is your PROMPT? is your shell bash?

[2015-07-13 19:49] mikefaille commented on #9
Yes, this is the default bash from ubuntu:latest

[2015-07-14 06:56] Silex commented on #9
Can you answer this? :)

[2015-07-14 07:49] mikefaille commented on #9
Compiled from master :
GNU Emacs 25.0.50.4 (x86_64-unknown-linux-gnu, GTK+ Version 3.16.2) of 2015-05-03

[2015-07-14 07:53] Silex commented on #9
Haha! I was able to reproduce the weirdness!

Basically, only `ubuntu:latest` misbehave... `fedora:latest` or `debian:jessie` behave fine

I'll investiguate.

[2015-07-14 08:11] mikefaille commented on #9
Allright ! Do you check centos:7 too ? That was my 1st test.

[2015-07-14 08:35] Silex commented on #9
Yep, same problem.

[2015-07-14 15:06] Silex commented on #9
Okay... the problem is pretty funny and I'm not sure how to solve it "the right way".

Basically, `PS1` is set like if the terminal had full color support. This is logical because `docker run` emulates a terminal... and then it is displayed inside emacs which doens't have full color support.

The simplest fix right now is to type the following inside the bash session:

[code]

[2015-07-14 15:14] Silex commented on #9
Other workaround:

[code]

Or from withing docker-run:

`R R sh -c "export TERM=dumb bash"`

[2015-11-27 11:04] #3 closed

[2016-01-06 14:14] mprokopov opened #11 "Wrong container names formatting, when ports does not specified"
I'm active user of nginx-proxy container https://github.com/jwilder/nginx-proxy, so I usually do not specify ports for containers. I use VIRTUAL_HOST=my.host environment variables instead.

It seems container names does not look properly in *docker-containers* buffer, when ports does not specified for container.

My screenshot:
https://www.dropbox.com/s/ap2ea1k5ynw9zob/%D0%A1%D0%BA%D1%80%D0%B8%D0%

[2016-01-06 14:22] Silex commented on #11
Yeah, the current regexp for parsing the output of `docker ps` needs improvements, but it's not as trivial as it looks. That and the project of using docker-api.el instead of parsing the output of docker ps makes it that I always delay it...

[2016-02-12 16:54] nashamri opened #12 "Run commands directly"
Hello! Thanks for this great package :+1:

I'm trying to run some commands from elisp directly. I looked into `docker-images-run-selection` and it relies on `docker-images-selection` function to get the selected images. How can I select an image and run a given command using elisp?

I'm not sure if my question defeats the whole purpose of this package and I should run the command using `async-shel

[2016-03-03 09:42] kedare opened #13 ""No containers selected""
Hello,

Maybe I'm doing it wrong but everytime I try to run a command I get "No containers selected", but how am I supposed to "select" a container ? I suppose my pointer on the buffer just have to be on the line of the container I want to run the action on ?

Thanks.

[2016-03-03 09:43] kedare commented on #13
Okay, my fault, I just seen on the README that I have to "mark" the container to select it :)

[2016-03-03 09:43] #13 closed

[2016-03-03 10:21] Silex commented on #13
;)

I really need to work on improving the interface, I have many ideas

[2016-03-03 11:35] kedare commented on #13
Maybe for this, adding a feedback when trying to run a command without anything selected, as many plugins use for example helm where the simplest way to "select" an element of the list if just to have the cursor on it

[2016-03-03 12:04] Silex commented on #13
Yeah, I intend to follow `dired` UI, when there's no element selected it automatically selects the one under the cursor

[2016-03-03 16:57] dougm commented on #13
I borrowed some of your code and made a similar change: https://github.com/vmware/govmomi/blob/master/govc/emacs/govc.el#L94
And a minor enhancement to use dired-marker-char.  I think it'd be great to have a standalone tabulated-list-ext package at some point that our packages and others can easily share.

[2016-03-04 08:26] Silex commented on #13
@dougm: good idea. I created https://github.com/Silex/tabulated-list-ext and added your as a collaborator, I'll make a melpa PR soonish

[2016-03-15 09:48] Silex commented on #12
@nashamri: hello! sorry it seems that I completely missed this issue.

I'm not sure I understand your problem correctly, you want to run docker-images, mark some images and then run some elisp that uses the images names?

Would something like this be ok?:

[code]

[2016-03-16 10:43] Silex commented on #13
@dougm: It was merged to MELPA and I incorporated your `dired-marker-char` changes, you can start to use https://github.com/Silex/tabulated-list-extensions :-)

[2016-03-16 10:45] Silex commented on #13
For an example on how I did it for docker.el: https://github.com/Silex/docker.el/commit/a9574de33d213d0b410784b48cfd027c108dee6d

[2016-03-16 21:52] dougm commented on #13
@Silex thanks, very nice!  I will check it out soon.

[2016-03-29 15:13] Silex commented on #12
@nashamri: ping

[2016-03-29 22:17] nashamri commented on #12
Oh sorry @Silex :smile:
Thanks for getting back to this. Yes I think the solution you provided will do. :+1:

[2016-03-29 22:17] #12 closed

[2016-03-30 01:32] Yuki-Inoue opened #16 "Select the current line if no selection"
As discussed in https://github.com/Silex/docker.el/issues/13 , its nice to select the current element in the list if nothing is selected.

[2016-03-30 09:08] Silex commented on #16
Yes, I need to work on it as soon as I have some time available.

That and have all the commands run in the background, like in magit.

[2016-04-03 11:33] Silex commented on #16
I have something semi-working! Will push it soon :)

[2016-04-03 11:54] Yuki-Inoue commented on #16
Glad to hear that! :)

[2016-04-03 12:02] Silex commented on #16
By the way, if you update tabulated-list-extensions, the selected rows should highlight.

[2016-04-03 12:27] Yuki-Inoue commented on #16
I'll check. Thanks for notification!

[2016-04-03 13:29] Silex commented on #16
@Yuki-Inoue: it's pushed! if you could serve as beta tester on this feature it'd be great :wink:

Make sure you also have the latest version of https://github.com/Silex/tabulated-list-extensions

[2016-04-03 16:30] Silex commented on #16
Reopen if still an issue ;)

[2016-04-03 16:30] #16 closed

[2016-04-04 09:00] Yuki-Inoue commented on #16
I've confirmed docker.el working as I issued in this thread. Thanks!

[2016-04-04 09:10] Silex commented on #16
:+1:

[2016-04-05 15:27] novakboskov opened #18 "docker rmi with force switch doesn't work"
`docker rmi hello-world:latest -f` which is produced by `D -f D` in `docker-images` results in error:
[code]

Should not rmi with force switch produce something like ` docker rmi -f hello-world:latest`? I'm really new to Docker, so excuse me if I'm wrong.

[2016-04-06 07:19] Silex commented on #18
Hello!

Looks like you found a bug. I'll look into it.

[2016-04-06 07:27] #18 closed

[2016-04-06 07:27] Silex commented on #18
Reopen if still present :wine_glass:

[2016-04-08 09:51] Silex opened #21 "Improve docker-machine"
@benswift, I'm not a user of docker-machine, can you tell me wether incorporating

https://github.com/dougm/docker.el/commit/b328f2225e275d33b43521d6ad9052ec552ffb3a#diff-34b17d4fecbd8f93346451d97efbe510R36

Is relevant? Also, can you test wether docker-machine works correctly in my merge? Would you be interested into being added as a maintainer for the docker-machine part?

Thanks :wink:

[2016-04-08 09:55] Silex commented on #21
Also, I plan on renaming `docker-machine-ls` to `docker-machine`, it makes more sense. I'll rename all the `eieieo` structs with some `-struct` postfix or something. I'll probably add some `CONVENTIONS.md` for the coding conventions :)

[2016-04-08 14:36] Silex commented on #9
Ok, simply use the following when running images:

<kbd>R =e TERM=dumb RET R</kbd>

[2016-04-08 14:36] #9 closed

[2016-04-08 14:43] Yuki-Inoue opened #22 "Make `docker-images` column configurable, especially for Repository column"
When I kick `docker-images` locally, the Repository is shown in the way like `docker-registry.mydomain/yu...`. Especially on private registry, the most important part of the repo (the image name) is abbreviated into dots of `...`.

So I thought it would be helpful to make the column widths configurable.

[2016-04-08 14:50] Silex commented on #22
@Yuki-Inoue: good idea.

I found this http://stackoverflow.com/questions/28386299/how-to-make-the-package-column-of-emacs-elpa-list-packages-screen-wider

I'll probably write some `tle-make-columns-width-fit-to-content` in https://github.com/Silex/tabulated-list-extensions and use that

[2016-04-08 19:36] mikefaille commented on #9
I'll test it. Thank you !

[2016-04-08 23:05] benswift commented on #21
Hi folks

Sorry about my delay in replying - been swamped with a release of
another project this week.  I'll try and have a look next week, though.

Cheers,
Ben

Philippe Vaucher <notifications@github.com> writes:

[2016-04-08 23:06] benswift commented on #21
Cool, sounds good - prioritise the interactive commands over the
internal structs is a good call.

Ben

Philippe Vaucher <notifications@github.com> writes:

[2016-04-12 08:51] Silex commented on #22
For a quick hack, modify https://github.com/Silex/docker.el/blob/master/docker-images.el#L209 according to needs.

[2016-04-14 12:39] Silex commented on #6
@vdemeester: `inspect` is soon to be merged (see the PR)

[2016-04-16 08:29] Yuki-Inoue opened #24 "Fix docker-container parsing (by using docker-api.el...?)"
Current implementation of docker ps result to `docker-container` conversion is ad-hoc, and easily broken (at least in my local env, in the way I use my docker... ).  This results in, for example, not correct invocation of `C-c d c X` (X is a placeholder).

It would be nice if this conversion is done in a more accurate manner.

Related: #11  (I believe this issue is an instance of such broken conve

[2016-04-16 16:23] Silex commented on #24
Well yes this is the same report as #11

I'm closing this, feel free to continue discussing there... I'm not sure I can come up with a decent regexp to parse containers properly, so it's probably time to start spend some time on docker-api.

I believe we can start by using docker-api but only to *get* the various listings. For all the other commands, it's probably better to call "docker" directly.

[2016-04-16 16:24] #24 closed

[2016-04-17 15:18] Silex commented on #11
@Yuki-Inoue: I'm making progress at `docker-api`.

I realised almost all my structs were obsolete! I can just use the raw JSON objects :-)

[2016-04-18 08:29] Silex commented on #2
@Yuki-Inoue: if you want, you can test the `docker-api` branch. It still needs some polish, but the containers listing uses the docker-api now. You need to load some lisp files from https://github.com/Silex/docker-api.el for it to work.

What needs to still be done is parse the date correctly, etc

[2016-04-18 10:04] Silex commented on #22
@Yuki-Inoue: you can experiment with https://github.com/Silex/tabulated-list-extensions/tree/automatic-width

`M-x tle-fit-all-columns-to-contents`

[2016-04-18 10:27] Yuki-Inoue commented on #11
@Silex I still haven't figured out how you are trying to handle raw JSON objects, but glad to hear you've found out the way.  :+1:

[2016-04-18 10:29] Yuki-Inoue commented on #2
@Silex Ah,,, I'm starting to figure it out.  So the docker supports native json API.  I'll try your `docker-api.el` when I have some time.  :)

[2016-04-19 12:21] Silex commented on #22
Alright, please update https://github.com/Silex/tabulated-list-extensions and use `M-x tle-auto-resize-all-columns` for now.

I'll probably make that automatic in the next days for any docker listings.

[2016-04-19 12:21] #22 closed

[2016-04-20 06:24] Silex commented on #22
OMG

I just found out about http://melpa.org/#/tablist

[2016-04-20 06:47] Silex commented on #13
@dougm: today I just found out https://github.com/politza/tablist

Don't let the crude README discourage you, it's basically tabulated-list on steroids. Check out the source, mark/unmark/filters etc... I'll probably delete tabulated-list-extensions and make some PR for tablist instead.

[2016-04-20 07:22] Yuki-Inoue commented on #6
Note that `logs` is implemented in #25 .

[2016-04-20 07:25] Silex commented on #6
Ticked ;-)

[2016-04-20 07:27] Yuki-Inoue commented on #22
:-(

[2016-04-20 07:28] Silex commented on #22
Well it's also a good news. `tablist` is awesome (filters, marks, etc). It basically implements what I wanted to do since months.

[2016-04-20 17:54] Silex commented on #11
I think we are close to having this issue fixed! I hope to push in the next days.

[2016-04-22 11:17] Yuki-Inoue opened #26 "Recreate `*docker-containers*` buffer on each `docker-containers` invocation"
I want the `docker-containers` (or other table list interfaces) to be invoked by considering the current buffer's host. That is, when I'm logging in a server with tramp, and kick the `docker-containers`, it successfully show the list of containers on that logged in host.

Now let's say I wanted to see the containers list on my local host pc.
What I need to do is to
  1. first kill the `*docker-con

[2016-04-22 11:35] Silex commented on #26
Sounds ok for me... maybe we could add  `default-directory` as part of the buffer name so it always shows the one you expect and it's more verbose. It also allows for multiple container buffers.

If that sounds good, you can use something like I did in https://github.com/tkf/emacs-request/pull/43/commits/6f2515fc827d5fdc9fa77600fea0bf209a696245, the `file-remote-p` part

I will switch to `docker-a

[2016-04-22 11:36] Silex opened #27 "Document tablist"
`<>` resize column
`* r` mark by regexp
`/ r`  filter by regexp

etc.

Also make a PR for tablist repo

[2016-04-22 14:59] Silex commented on #2
@Yuki-Inoue: ok... I'll probably stop my effort in using docker-api, because today I found `docker ps --format "table {{.ID}}\t{{.Image}}"`

That allows me to specify the format, which will greatly simplify the parsing of the various docker commands. Also because implementing "docker run" with the docker-api is very complicated, and I don't feel very comfortable using the docker-api for everything

[2016-04-22 16:50] Yuki-Inoue commented on #26
@Silex it made sense, so I've created an PR which creates separate table buffers for each tramp host. Could you check?

[2016-04-23 16:10] #26 closed

[2016-04-23 16:42] Silex commented on #11
This should be fixed now. Reopen if needed.

[2016-04-23 16:42] #11 closed

[2016-04-23 16:44] Silex commented on #2
Until `docker-run` is doable using the docker-api, I think we won't use it.

See https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/#3-1-inside-docker-run for more details.

[2016-04-23 16:44] #2 closed

[2016-04-23 21:06] Silex commented on #21
@benswift: I refactored quite a lot, can you tell me if docker-machine still works?

[2016-04-23 21:07] #21 closed

[2016-04-24 07:22] Yuki-Inoue commented on #2
@Silex I get it, so you are saying we can specify format for `docker ps` and can use '\t' as the separator.  Sounds good to me, given we would parse the `command` as the last column, which I believe to be the only attribute which might contain '\t' character.

[2016-04-24 07:55] Yuki-Inoue commented on #11
👍

[2016-04-24 08:09] mprokopov opened #30 "Docker-compose support"
My docker usage pattern is always by docker-compose.
With version 2 I even do not tag image by myself, it's done automatically.

So docker-compose support is highly requested :)
I'd be happy to do this by myself, but unfortunately have lack of experience.

[2016-04-24 08:27] Silex commented on #30
I am also a heavy user of docker-compose... yes, I'd love docker-compose support :-)

I'll see what I can do, it's very likely to be a bit of a different experience tho.

If you have an UI in mind please share... maybe something around `docker-compose ps` and as actions you have `build`, `up`, etc?

[2016-04-24 08:28] Silex commented on #2
@Yuki-Inoue: good catch about "command" that may contain a `\t`.

I'll add a `TODO` for now but if you want to fix it feel free.

[2016-04-24 09:44] #27 closed

[2016-04-24 11:41] mprokopov commented on #30
I see following workflow tasks:
After editing Dockerfile or docker-compose.yml
I'd like to run docker-compose build and docker-compose up next.
Also while container run I wish to stop, make changes and repeate cycle above.
Nice feature would be to show running/stopped containers, which mentioned in docker-compose in docker-compose editing buffer. Is it possible to show in current status line?

[2016-04-25 15:28] tzz commented on #2
@Yuki-Inoue looks like other people had the same issues: http://blog.bordage.pro/avoid-docker-py/

For the output formatting, note you can encapsulate things in JSON inside the Go template: `docker ps --format '[{{.ID|json}},{{.Image|json}},{{.Command|json}}]'` would give you a parseable JSON array.

[2016-04-25 15:33] Silex commented on #2
@tzz: oh, cute. I might switch to that indeed

[2016-04-26 14:48] Yuki-Inoue commented on #2
@tzz 👍

[2016-05-07 19:38] Silex commented on #30
I started some work on it... hope to push something soonish :pray:

[2016-05-18 11:43] ksjogo commented on #30
Using compose as well. Happy to help if you push a dev branch.

[2016-05-20 13:01] Silex commented on #30
Okay, I started using docker-machine as well as docker-swarm.

I need to stop a bit and think how I am going to support all that. Maybe by splitting in several packages?

Will keep you posted.

[2016-05-29 16:18] Silex commented on #30
Hello, please check the `docker-compose` branch.

It's work in progress but it already more or less works for up/stop/rm

[2016-05-30 11:49] Silex commented on #30
Continuing in #39

[2016-05-30 11:49] #30 closed

[2016-06-13 00:48] jgkamat commented on #4
Is this still being worked on? I could provide some help for this (in ~4 weeks though...), as docker.el has been very helpful for me!

As far as I can tell you should be able to use `start-process-shell-command` instead of `shell-command-to-string` with little modifications (unless you were counting on the output or blocking in any way). It would also be nice to have notifications when a pull ends

[2016-06-14 07:25] Silex commented on #4
Hello!

Well yes it's in the pipeline... but I don't have much time to work on docker.el at the moment.

The problem is that we *do* use the output for many commands :-)

Async works by spawning a 2nd emacs instance... it's not ideal. My plan is to reuse `magit-process`  (see https://github.com/magit/magit/issues/1902), but from my quick tests it didn't work as planned... I need to spend some time

[2016-06-14 13:07] jgkamat commented on #4
Thanks for the update! I'll take a look around and see if I can help out sometime in the future if this is still being worked on.

[2016-07-12 13:21] Silex opened #42 "Maintainer on vacation"
Hello,

Starting tomorrow I'll be on vacation for 2 weeks.

[2016-08-02 18:02] Silex commented on #42
I'm back :-)

[2016-08-02 18:02] #42 closed

[2016-08-03 14:56] chrislong opened #43 "Request: Logical sort for Created column"
The Created column appears to be sorted lexicographically, which doesn't give good results when the values are things like "3 hours", "13 days", and "2 weeks".

I don't know of a way to get docker to output ages in a consistent time unit. Maybe adding the Creation date column would be a good workaround since it might be more easily sorted?

Useful package, though, thanks!

[2016-08-04 06:10] Silex commented on #43
Hum, good idea... I was thinking of having it maybe configurable, because if I add the "Created At" column then my screen is not wide enough to display it all nicely.

Here are the option we have: https://docs.docker.com/engine/reference/commandline/ps/#/formatting

You can test like:

[code]

[2016-08-04 06:11] Silex commented on #43
The configuration would be something like:

[code]

[2016-10-07 15:23] Yuki-Inoue opened #47 "Proposal: use tblui.el"
Recently, I realized I was making a lot of similar codes, which define the tabulated list buffer, and then set the magit popups.  I noticed they could be turned into macro, and made this package:

https://github.com/Yuki-Inoue/tblui.el

I think adopting this would clean up the codebase and enable the code concentrate on docker logic.  Any pinion?

[2016-10-07 15:40] tzz commented on #47
@Yuki-Inoue that's really nice, I hope you add your macros to the core tabulated-list package!

[2016-10-07 15:51] Yuki-Inoue commented on #47
@tzz Unfortunately, I think that's not easy because the package depends on several packages such as `magit-popup`, `dash`, etc, which I believe there are too many contributors and thus there's the FSF license agreement problem...

Making use of it is easy though.  It's available on MELPA so you can try out if you want to.

[2016-10-08 09:09] Silex commented on #47
@Yuki-Inoue: that sounds like a good idea... but before that:

@tarsius: I didn't follow magit changes since a while... I kinda remember you planned to do a new popup library which should be better than magit-popup. Is it still the plan? Should we maybe switch to it?

[2016-10-08 10:46] tarsius commented on #47
Yeah... I still plan to do that. It's just that I have focused on improving things that didn't require rethinking old design decision and refactoring core abstractions for a year or so now; and instead did the "easy" things like fixing bugs, improving consistency, and adding new but not very challenging new features. That's about to change now, like in the early days the issue tracker has recently

[2016-10-08 17:07] Silex commented on #47
Alright, no worries take your time :-)
I just needed to know before deciding about tblui... thanks for the detailed answer!

:-)

Well, I was asking about your successor to magit-popup but since you commented :-) I kinda agree with you that tblui does not fundamentally improve this package implementation... it's more like convenience wrappers that might be removed in the future as implementation c

[2016-10-18 01:05] bleggett opened #49 "Running `docker-containers` fails on Windows"
#### Description

Docker layer: Running `docker-containers` fails on Windows

#### Reproduction guide

- Start Emacs

- Install docker layer

- `M-x docker-containers`

*Observed behaviour:*

`docker-containers-refresh: Symbol’s value as variable is void: docker-containers-show-all`

*Expected behaviour:*

To see a listing of my docker containers

#### System Info
- OS: windows-nt
- Emacs: 25.1.1

[2016-10-18 06:06] davidshen84 opened #50 "docker-machine-env fails on Windows"
`docker-machine-env` fails with message:

    Non-hex digit used for Unicode escape

The cause is the `read` function used in `docker-machine-env-export` expects the `\` in the string to be double-escaped.

[2016-10-18 06:18] davidshen84 commented on #50
This issue is common on Windows environment. Because Windows uses `\` as the path separator. But if a Linux user uses `\` in the filename, this issue is also present on Linux environment.

[2016-10-18 06:38] Silex commented on #49
Good catch! I fixed this in 83ff2c5b2eb8a2b97b3e3a700374fbd2f406a566, can you give it a try?

[2016-10-18 06:51] Silex commented on #50
Alright, we'll follow in #51 then.

[2016-10-18 06:52] #50 closed

[2016-10-18 11:09] bleggett commented on #49
The commit fixed that error, I now get a `JSON readtable error` when running the command however. Let me know if you need me to do some diagnostics on my end.

[2016-10-18 11:12] bleggett commented on #49
So the command it looks like `docker-containers` is trying to run is

[code]

Running that at the command line failed for me until I changed the curved quotes around the format string argument to backticks like so:

[code]

[2016-10-18 11:40] Silex commented on #49
windows does not support single quotes?!

[2016-10-18 11:41] bleggett commented on #49
Changing line 41 of `docker-container.el` to the following

[code]
fixed it for me, but I don't know if that will work across all platforms.

[2016-10-18 11:44] Silex commented on #49
http://superuser.com/questions/324278/how-to-make-windows-command-prompt-treat-single-quote-as-though-it-is-a-double-q/357724

Sigh, okay I'll try to use double quotes everywhere.

[2016-10-18 11:48] Silex commented on #49
@bleggett: can you test with latest master?

[2016-10-18 11:53] bleggett commented on #49
@Silex Looks good to me, thanks! Windows shells are a major pain.

[2016-10-18 12:03] Silex commented on #49
:+1:

[2016-10-18 12:03] #49 closed

[2016-11-02 10:39] pallix opened #52 "Allow to customize the docker command"
Hello,

I'm running docker on my system with `sudo docker ...` instead of just `docker`. It would be great if the docker command could be customized.

[2016-11-02 10:43] Silex commented on #52
Good idea, I'll see what I can do.

In the meantime, you can modify https://github.com/Silex/docker.el/blob/master/docker-process.el#L31

[2016-11-18 14:10] jwinder opened #53 "Dispatch popups"
I like that this package follows magit in terms of the popups.

I am curious whether others would find more general dispatch popups valuable?

Following magit, a single global keybinding could open a general dispatch popup with shortcuts to all of the current docker-global-mode functions (containers, images, etc). When inside of any of the docker buffers in addition to keybindings for each popup,

[2016-11-24 07:56] #52 closed

[2016-11-24 07:57] Silex commented on #52
@pallix: #54 was merged, give it a try

[2016-12-14 13:34] Silex commented on #53
Oops, seems I missed this issue being created, sorry!

Your idea makes sense, and would replace docker-global-mode which I planned to get rid of anyway.

I'm also considering using https://github.com/abo-abo/hydra instead of the magit popups

[2016-12-14 15:08] jwinder commented on #53
Sounds great! I'll go ahead and close this issue then since it sounds like you have some good plans.

[2016-12-14 15:20] Silex commented on #53
I'll keep the issue as a reminder :wink:

[2016-12-20 22:06] benne opened #56 "docker-containers fails on macOS"
**Description**
On a new install, on macOS, running docker-containers fails with "Unrecognized keyword: template".

**Reproduction**
1. Start emacs
2. Install docker layer through MELPA
3. Add require to init.el as well as (setenv "DOCKER_HOST" "tcp://xxxxxx:2375")
4. M-x docker-containers

_Observed behaviour_
The container list is empty and messages shows:
docker ps --format="[{{.ID|json}},{{.Im

[2016-12-21 08:12] Silex commented on #56
Great but report :+1:

Well, weird behavior, especially since "template" is not part of the command.

Can you try this command in a terminal:

`docker ps --format="[{{.ID|json}},{{.Image|json}},{{.Command|json}},{{.RunningFor|json}},{{.Status|json}},{{.Ports|json}},{{.Names|json}}]" -a`

If it fails the same way, please try `docker ps -a` and if that does not fail please try docker `1.12.5`, maybe

[2016-12-21 08:23] Silex commented on #56
Ha, the `| json` part looks like it's undocumented, so probably that we rely on an undocumented feature :fearful:

@Yuki-Inoue: where did you learn about the `| json` for docker format?

[2016-12-21 08:28] Silex commented on #56
Looks like `docker ps --format raw` could be used instead.

[2016-12-21 08:46] benne commented on #56
I will try the command when I get a chance later today, however, I came across this:
https://docs.docker.com/engine/admin/formatting/

[2016-12-21 08:50] Silex commented on #56
Ah! Can you give https://github.com/Silex/docker.el/commit/9da6013f24fb00ffc1f2f15c3aeb05181df5d36f a go and report?

[2016-12-21 09:26] benne commented on #56
I'll be home in about six hours - then I'll let you know.

[2016-12-21 15:58] benne commented on #56
It works beautifully 👍

[2016-12-21 21:24] Silex commented on #56
Merged :wink:

[2016-12-21 21:24] #56 closed

[2016-12-22 16:51] tzz commented on #56
@Silex the use of `|` in Go templates is standard. See https://golang.org/pkg/text/template/#hdr-Pipelines

I think I suggested the `|` syntax originally, but I agree that it's generally better to use the direct function call syntax, and especially in this case. So it's a nice fix -- thanks for working on it.

[2016-12-22 17:10] Silex commented on #56
@tzz: ah, thanks for explaining the `|` syntax :-)

[2017-01-22 16:34] tninja commented on #6
really wish to have commit. Thanks!

[2017-01-26 02:48] rgrinberg opened #58 "run docker images with -a"
Sometimes I'd like to see the full list of images but I'm not sure how to accomplish that with this plugin.

Excellent plugin otherwise btw.

[2017-01-26 07:59] Silex commented on #58
Thanks! Well, *right now* you can't. I'm working on a refactor where you have a popup before running `docker-images` (and others), in which you can select command-line options.

If you quickly want to hack this, you can modify https://github.com/Silex/docker.el/blob/master/docker-images.el#L34 and add `"- a"` after `"images"`

[2017-02-12 04:35] rgrinberg opened #59 "Support docket network command"
Would be nice to have this one as well.

[2017-02-15 13:16] Silex commented on #59
Did you try `M-x docker-networks` ?

[2017-02-15 14:24] rgrinberg commented on #59
I looked for it but somehow missed it the first time around. Sorry for the noise.

[2017-02-15 14:24] #59 closed

[2017-02-16 12:54] Silex commented on #59
No worries :wink:

[2017-02-24 11:54] anquegi commented on #56
I'm running package docker-20170114.440, I can see machines, images but when I work with containers I get nothing in the buffer and only a message:

`json-read: JSON readtable error
`
complete trace *messages* buffer:

[code]
this is my console output:

[code]

[2017-02-24 12:57] Silex commented on #56
@anquegi: hi, what is your docker version?

Also, can you run this in the console and report what it outputs:

[code]

[2017-02-26 07:28] anquegi commented on #56
@Silex, you where right with your thoughts, I get an error running that command. and also my docker was quite old, 1.10, I updated to the new version from web and now it works:
[code]

![screen shot 2017-02-26 at 08 26 54](https://cloud.githubusercontent.com/assets/2518346/23337933/8ad07840-fbfd-11e6-8ce2-222b3cc4f0b4.jpg)

Thanks for your help!!

[2017-02-26 16:36] Silex commented on #56
Glad it works :+1:

[2017-03-02 09:38] Silex commented on #6
Alright, I updated the list. I'll refactor it once more to be split in 3 categories:

* Docker basics
  * containers
  * images
  * volumes
  * network
* Docker swarm
  * swarm
  * stack
  * service
* External tools
  * Docker machine
  * Docker compose

Based on this I'll set up some kind of roadmap :-)

[2017-06-10 14:49] spacegoing opened #61 "Keybindings unusable in `docker machines` buffer"
After entered `docker-machines` buffer, all keys like `m` or `O` are unusable.

- OS: darwin 10.12.5
- Emacs: 25.2.1
- Spacemacs: 0.200.9

[2017-06-11 02:57] spacegoing opened #62 "Please don't block emacs when execute commands"
I found some commands will block emacs like `docker-machine-create` and `docker-push` etc.

Like magit for example, when you run `magit push` it will execute in background without blocking emacs. I think this might be more preferable?

[2017-06-12 06:18] Silex commented on #62
Thanks, but already planned in #4

[2017-06-12 06:18] #62 closed

[2017-06-12 06:20] Silex commented on #61
Hum, it works fine by me... can you tell me what `C-h k m` tells you?

[2017-06-12 06:26] spacegoing commented on #61
[code]
FYI :D

[2017-06-12 06:29] spacegoing commented on #61
Btw. I really like this package after few days' usages. The workflow is very smooth. Seems like a porcelain (as `magit` for git) for docker to me:D

[2017-06-12 06:32] Silex commented on #61
@spacegoing: ah, so `evil-mode` overwrites `docker-machines-mode` keybindings. I don't know why that does not happen in the other docker buffers tho. Do you know what to do from here? It'd be fairly obvious.

Thanks for the kind words :-) I should really work more on this package! Will try to find some time.

[2017-06-12 06:46] spacegoing commented on #61
tks.  No I didn't know what to do. Thanks for your help!

[2017-06-12 07:51] Silex commented on #61
I assume the problem is fixed then, reopen the issue if not :wink:

[2017-06-12 07:51] #61 closed

[2017-07-07 05:56] schvabodka-man opened #63 "Can't install from MELPA"
Hi there! It seems like there are some troubles with dependencies and json-mode. When i'm attempting to install i'm getting this:
Error: (file-error "http://melpa.org/packages/json-mode-20170418.1900.el" "Not found")

[2017-07-07 06:35] Silex commented on #63
Hum, can you test again? I just removed json-mode and docker and reinstalled docker and everything went fine.

If the problem persist, please specify your emacs version and try with `emacs -Q`

[2017-07-07 07:18] schvabodka-man commented on #63
Funny how but i still get
Error: (file-error "http://melpa.org/packages/json-mode-20170418.1900.el" "Not found")
I'm running emacs as emacs-daemon and my emacs version is 25.1.1(Fedora). I'm installing your package with use-package

[2017-07-07 09:11] Silex commented on #63
Well I just tried again on a fresh install:

[code]

[code]

Can you run the same "naked" test?

[2017-07-07 09:14] Silex commented on #63
ah! I think you simply forgot to M-x package-refresh-contents

Latest json-mode version is 20170619.1701, yours show 20170418.1900

[2017-07-07 11:56] schvabodka-man commented on #63
Thanks! That is the solution, it installed well now. You can close this issue

[2017-07-07 12:21] Silex commented on #63
:wink:

[2017-07-07 12:21] #63 closed

[2017-09-06 09:50] Fuco1 opened #65 "Better "docker aware" filtering"
While we now have lots of options to filter the tables, it seems to be rather generic and not really related to docker workflows.  For example, I would like to have filters like "select untagged images" or "select stopped containers" or "select all containers for this compose stack" and similar.  I can't really even find much use for the listings we have now as I deal with `docker-compose` 99% of

[2017-10-01 18:10] Silex commented on #65
Oh, sorry I missed this issue :cry:

Yes, this is a good idea and has been on the back of my mind since a while now, unfortunately I'm a bit swamped by work so I can't find time to work on this.

Right now to get untagged image I filter by the string "none" on the image name.

I'll see if I can add some quick filters, maybe eventually something like dired-filters :wink:

[2017-10-01 19:18] Fuco1 commented on #65
No worries, as I said I mostly deal with compose so basically everything is handled by that except some cleanup tasks.

It would be a nice addition but let's wait if more people ask for it.

[2017-10-27 12:18] Silex commented on #53
Alright, it's time I work on this. I hope to get something going soonish.

[2017-11-01 16:35] jethrokuan opened #66 "Docker shell trying to use system shell"
I have my system shell default set to `fish`, but `fish` doesn't exist within the docker container. When I attempt to open a shell via `docker-container-shell`, it complains that the shell does not exist.

Am I doing something wrong? If not, having what shell to run in docker containers being customizable would be amazing!

[2017-11-01 16:52] jethrokuan commented on #66
Sorry, by system shell I really meant the one set in emacs, via `explicit-shell-file-name` and `shell-file-name`.

[2017-11-01 21:01] Silex commented on #66
Hum, well all we do is call `shell` over a docker-tramp connection... so it makes sense that this is an error.
What could be an idea is to have the shell as an option in the docker shell popup or a `defcustom` to specify the shell, which would be `shell-file-name` by default.

Can you enlighten me about `explicit-shell-file-name`? it's not very clear what it is

[2017-11-02 01:53] jethrokuan commented on #66
On further research, I don't think `explicit-shell-file-name` might not be relevant for this case. Here's the docstring for it:

[code]

And yes, I think a `defcustom` for `docker-shell-file-name` would be great. In `docker-container-shell` one could just check if it is non-nil, and run the shell command within a `let` binding where `shell-file-name` is bound to `docker-shell-file-name`.

[2017-11-05 18:55] Silex commented on #65
@Fuco1: can you give https://github.com/Silex/docker.el/tree/tmp/selection a try?

In images, `* u` selects dangling images and in containers `* s` select stopped containers.

This is just a proof of concept at the moment.

Btw, do you happen to know how to use "temporary" keymaps in parent's keymaps?

[2017-11-05 20:09] Fuco1 commented on #65
I think we both took the inspiration for `ibuffer`.  I'll check the branch tomorrow at work and put it through some "real" use :)

[2017-11-17 19:23] GPPassos opened #67 "Sort containers by creation date"
In *docker-containers* buffer, when trying to sort by creation date, Containers Menu mode (due to tablist mode, I believe) only sorts by lexicographical order, not by temporal order. For instance, "2 weeks ago" comes before "3 minutes ago", which comes before "7 weeks ago".
This is a bit frustrating as `docker ps -a` from the command line sorts that way.

Thank you.

[2017-11-17 19:26] GPPassos commented on #67
Oh, I'm sorry, I've just found #43

[2017-11-17 19:26] #67 closed

[2017-11-17 19:29] GPPassos commented on #43
@Silex , this workaround didn't work here. Perhaps this variable isn't used anymore?

[2017-11-20 08:04] Silex commented on #43
@GPPassos: this was just an idea how to implement it, it's not actually implemented yet :-)

I'm currently refactoring docker.el quite a lot, maybe I'll have time to tackle this too, I'll keep you updated.

[2018-01-05 12:35] spiderbit commented on #66
yes run into the same problem in nixos the shell-command defaults to /run/current-system/sw/bin/bash which in the guest docks of course makes no sense.

so I had to set it to /bin/sh why can't it either just default to /bin/sh or checks if the shell-command exist and if not default to /bin/sh?

Or as 2nd best solution do that docker-shell-file-name cause at least you would find that variable faste

[2018-01-07 17:27] Silex commented on #66
Should be fixed by 5a6e407ee9c6035245749ee1f249aed16d651728, can you guys test and report?

[2018-01-07 17:28] #66 closed

[2018-01-08 09:29] Silex commented on #66
@jethrokuan @spiderbit :wink:

[2018-01-08 14:14] jethrokuan commented on #66
Seems to work for me, thanks for the fix!

[2018-01-12 10:22] mcraveiro opened #68 "Adding multiple environment variables to a docker container"
Hi Docker.el developers,

Thanks for a great mode, I am now using it as my main way of interfacing with Docker. However, I have a slight problem: I am trying to supply several environment variables to my containers, in a similar approach to what is suggested here [1]. I haven't quite figured out how to do this with Docker.el. I am using the ```Run``` command and the ```-e``` for environment. If I

[2018-01-12 10:54] mcraveiro commented on #68
Aha, it was actually quite obvious! :-) For anyone with this problem, just add the ```-e```'s to the string itself, like so:

[code]
Cheers

[2018-01-12 10:54] #68 closed

[2018-01-12 10:55] Silex commented on #68
~Well, until multiple `-e` flags are supported you can do `FOO=123 -e BAR=456`~

Glad you figured it out :+1:

[2018-01-12 11:45] mcraveiro opened #69 "Problems with shell ANSI escape sequences when running Alpine's ash"
Hi Docker.el developers,

I don't think this problem is directly related to Docker.el, but maybe you can give me some pointers as to how to solve it. The long and short of it is that when I start an Alpine container using ash, I get some stray escape sequences, even though my ```TERM``` is set to dumb via ```-e```:

[code]

I've done some google searches but I just can't find a way to stop this. N

[2018-01-12 12:30] mcraveiro commented on #69
It may also be useful to note that if I install bash, the shell works perfectly so this seems to be a ash specific problem.

[2018-01-12 13:19] Silex commented on #69
Related to #9

Well, currently we simply use `async-shell-command`. I think this is the problem https://stackoverflow.com/questions/4726220/how-to-have-colors-in-the-output-of-emacs-shell-command

I'm not sure what the best solution is at the moment, but probably finding a way to reuse `M-x shell` or `M-x ansi-term` would produce better results.

[2018-01-12 13:22] mcraveiro commented on #69
Thanks @Silex - I'll stick to bash for now then. Do you want me to close this ticket, given that #9 more or less captures the problem?

[2018-01-12 13:23] Silex commented on #69
@mcraveiro: no, #9 is closed because `TERM=dumb` was the workaround. For `sh`/`ash` we need to find something better.

[2018-01-12 13:26] mcraveiro commented on #69
OK cool, makes sense. But you know what, I think something is wrong with ash because surely setting ```TERM=dumb``` should stop it from emitting these ANSI escape sequences.

[2018-02-02 18:12] gonewest818 commented on #43
fwiw, you can get raw values for dates and sizes via the docker API. For instance, rather than "docker images" you can

[code]

which yields

[code]

[2018-02-02 18:26] gonewest818 commented on #43
Obviously you could build a complete `docker-client.el` using these REST APIs, but it wouldn't be strictly necessary. You could start by replacing only the reporting commands like `docker images`, `docker ps`, etc.

[2018-02-06 07:57] Silex commented on #43
@gonewest818: there was work done in this direction at https://github.com/Silex/docker-api.el

But the thing is, it's quite a lot of work to make it use the API. Also, this would break TRAMP support... so I don't think it'll be done any time soon.

[2018-02-06 10:03] gonewest818 commented on #43
Two points.

1. Docker has long exposed this REST API and it is common practice to write clients with that API, including the `docker` command itself, the java bindings, the python bindings, Apache Mesos, and so on. That alone would give me much more confidence that mixing different tools that access the API is viable. If there are differences between the API and the command line tools then those

[2018-02-06 10:27] Silex commented on #43
@gonewest818: interesting points, but there are still things that I don't know straightforwardly how to map over the docker API.

For example, implementing `docker run -e FOO=BAR --rm -p 80:80 nginx` equivalent... right now I use `async-shell-command`, do you reckon that would be easy to implement with the API?

I'm not against using the API, I'm just afraid it'll be a lot of work :sweat_smile:

[2018-02-07 09:28] dustinlacewell-wk opened #71 "Docker for Mac"
Not sure if this project is still alive, but is there a way to use this with Docker for Mac?

[2018-02-07 11:05] Silex commented on #71
See https://github.com/Silex/docker.el#osx--docker-machine and ask if you are stuck.

[2018-02-08 17:05] gonewest818 commented on #43
Quick comment on this.  Getting an interactive shell is an excellent case for using `docker run -it` rather than trying to reinvent it again in elisp.  There's nothing more to gain in a custom implementation.  Whereas there is clearly (well, or so I think) value in grabbing raw container and image metadata directly from the docker daemon because you can format and print the raw data however you li

[2018-02-12 07:59] Silex commented on #43
Ok so to talk with docker there would be two paths:

- run `docker CMD` for most of the commands.
- use the docker api for the containers/images/networks/volumes listing.

I think using two paths is kind of a mistake, as there would need to be configuration for the two apis (the path to `/usr/bin/docker` binary and `/var/run/docker.sock` socket). How would that work on OSX/windows? I don't think t

[2018-02-16 15:54] JeremyWeed opened #72 "Running Docker with sudo"
On my machine, I need run docker with root privileges.  When I tried changing the `docker-command` to `sudo docker`, I just got `no tty present and no askpass`.
Luckily, I was able to get it working using Advise:
[code]
I haven't extensively tested this, and I didn't know if you'd want to add this to the package, or just put a note about it in the README, so I'm just submitting it as an issue.

[2018-02-16 17:13] Silex commented on #72
Interesting. I'm not sure what the correct fix for this issue is tho... I'll need to think about it.

If you have a proposal that is logical in the emacs world, don't hesitate to propose one... but yeah in the worse case we'll make a note in the README.

[2018-02-20 08:54] Silex commented on #71
Closing this as I think you have your answer, reopen if needed.

[2018-02-20 08:54] #71 closed

[2018-02-23 15:33] #72 closed

[2018-04-06 11:24] FrdVnW opened #76 "docker in emacs as root"
Hello, (more a question than an issue)

I used docker with sudo command on my computer. Is it possible to user this package (docker.el) in emacs with root privilège  in a simple way ?
Two solutions that I want to avoid :
-configure my emacs  in root user ?
-reinstall docker for running as user
thanks

fred

[2018-04-06 12:34] Silex commented on #76
Hello,

Use `(setq docker-run-as-root t)` (or `M-x customize-variable docker-run-as-root`)

Also, what most people do is adding their user to the docker group, that way no need for sudo and no need for root.

[2018-04-06 13:38] FrdVnW commented on #76
thanks Silex, I see the variable. I tried, but now I have a Tramp sending password that seems to freeze emacs. (I need a killall sudo)

[2018-04-06 13:53] Silex commented on #76
Ah, shame. TRAMP is notoriously hard to debug so this will be complicated to solve. What's the problem with adding yourself to the docker group?

[code]

Then reboot. Then there's no need for sudo.

[2018-04-11 20:10] dangirsh opened #77 "docker container command for run + shell"
I often use containers that run tests, then stop. If I try to get a shell into one of these via `b b` in the container view, it only works for running containers. It would be great to have another option for "start + persistent shell" equivalent to `docker run -it <container_name> /bin/bash`.

[2018-04-11 20:13] Silex commented on #77
Did you mean `<image_name>` instead of `<container_name>`?

If yes, the run popup is for you, on `docker-images` press `R` and you can change the command with `=c`, but for most image it's already bash so often there's no need to customize.

[2018-04-11 21:57] FrdVnW commented on #76
Thanks a lot Silex and for the confirmation about Tramp's complexity ... It works with my $USER in the group docker - kind regards

[2018-04-11 21:57] #76 closed

[2018-04-13 22:51] dangirsh commented on #77
Got it, thanks.

[2018-04-13 22:51] #77 closed

[2018-04-17 12:38] Silex opened #79 "docker-logs-mode prints unwanted things"
@chavezgu

Your changes introduced this in the logs:

[code]

While searching alternatives I fell on `auto-revert-tail-mode` instead of `compilation-mode`. Can you give it a try and report?

[2018-04-17 12:40] Silex commented on #79
Wait, docker logs actually has:

[code]

So it's just a matter of adding this flag in the popup and refactoring a bit.

[2018-04-17 13:05] chavezgu commented on #79
Yes. I was thinking the async-shell-mode than compile-mode is probably better suited for this. The -f as flag in the popup sounds great. I can do this.

[2018-04-17 14:36] Silex commented on #79
Great, continuing in #80

[2018-04-17 14:36] #79 closed

[2018-04-18 07:35] chavezgu opened #81 "Lexical Binding"
Is there any reason why the package is not using "lexical-binding: t" in their files? Apparently is a no brainer: http://nullprogram.com/blog/2016/12/22/

[2018-04-18 12:14] Silex commented on #81
No particular reason :-) I agree it could be a good idea to prevent silly mistakes.

[2018-04-19 12:56] Silex commented on #81
Fixed by 9cabc8e79fdad86c876a866353c3a10f3bdd181c

[2018-04-19 12:56] #81 closed

[2018-05-20 20:51] Grimscythe1983 opened #82 "No access to any of the commands"
The only thing that is available to execute is setting up the global keys. Yet non of the commands are available.

However if I proceed to (let it be) `docker-images.el` file and eval it, then all the images related commands are available. Are we supposed to require each module manually? If yes, then this should be reflected in the documentation.

[2018-05-21 09:34] Silex commented on #82
Hum, I guess that means you don't install it through MELPA. When installing through MELPA all the autoloads are done correctly and commands like `M-x docker-images` are available immediatly.

You made me realise that for non-package users just `(require 'docker)` is not enough, indeed one has to include all the sub packages. That is not really optimal, I'll fix it soon.

[2018-05-21 09:55] Grimscythe1983 commented on #82
I actually have the package installed from MELPA, maybe the recipe is broken?

[2018-05-21 09:57] Silex commented on #82
I just tested and removed docker then reinstalled it and everythings works as expected, so I think something is wrong on your side. Can you try removing/reinstalling as well?

[2018-05-21 10:31] Grimscythe1983 commented on #82
I just did that and everything is working fine now, without any extra `require`s. Thanks for your help!

[2018-05-21 10:31] #82 closed

[2018-05-21 11:00] Silex commented on #82
:+1:

[2018-05-24 05:06] wyuenho commented on #81
<img width="691" alt="screen shot 2018-05-24 at 06 05 24" src="https://user-images.githubusercontent.com/160028/40465431-839f90a4-5f18-11e8-83ce-e5c07f4d4898.png">

This seems like a good reason not to use lexical binding, but you can fix that easily.

[2018-05-24 07:43] Silex commented on #81
Should be fixed by 5535022244834e6256660264dc544258bfa95899

[2018-06-30 13:44] jwinder commented on #53
It's working nicely for me! I haven't run into any issues. 💯

[2018-07-01 10:01] Silex commented on #53
:+1: nice thanks for testing, will improve a bit then merge.

[2018-07-01 17:22] Silex commented on #53
It's merged! :tada:

[2018-07-01 17:22] #53 closed

[2018-07-01 17:29] Silex commented on #47
Sorry I'll close this, while refactoring in https://github.com/Silex/docker.el/commit/94aeafd7fbfb32db262014e694bea8671ec6069e and https://github.com/Silex/docker.el/commit/b3e1bab42f627a5584bc66487e65533f5cc4c075 I discovered if not used carefully using macros actually give you less control, and can obfuscate what is generated. It's not really worth it just to gain one or two lines of code.

[2018-07-01 17:29] #47 closed

[2018-07-01 17:34] Silex opened #84 "Make `docker-status`"
Right now `M-x docker` allows you to select images/containers/volumes/networks.

Instead, keep the bindings but show something similar to `magit-status`, with the following information:

* Containers (7 total, 4 running, 3 stopped)
* Images (33 total, 27 unique, dangling 16)
* Volumes (5 total, 2 local, 3 omgdriver)

This information should also be seen at the top of each listing.

[2018-07-02 12:59] Fuco1 opened #85 "Add command for viewing volume data."
Something that would open a dired with the volume's content.

We can maybe hack it somehow by changing the insert directory function to something like:

    docker run --rm -v yarn_cache:/data busybox ls -alh /data

Maybe there are better options though.

[2018-07-02 13:07] Silex commented on #85
Good idea.

it's as simple as `docker inspect -f "{{ .Mountpoint }}"  VOLUME`... I'll see what I can do in the next days.

[2018-07-02 14:30] Silex commented on #85
Doesn't `ls -alh /var/lib/docker/volumes/yarn_cache/_data` show the same thing?

[2018-07-02 14:58] Fuco1 commented on #85
Ah, I see.

Yes that works but the files are owned by root so I would need `sudo` to run `ls`.

[2018-07-02 15:16] Silex commented on #85
That works:

[code]

But yeah, requires sudo. Your busybox trick has several problems:

- needs to pull the busybox image the first time.
- in order to use `dired`, you need TRAMP `/docker:container:PATH`, which is fine but that means you spawn the container, then enter dired... then when is this container erased? Even with `--rm` you need to know when to quit the container, maybe by overloading `

[2018-07-02 15:21] Fuco1 commented on #85
The command would be run once and the container would be removed immediately after.  The output would be used as input for dired.  You don't need tramp for this.  You can run dired on pretty much any buffer that "kind of" looks like output of `ls`.

On the first run it would need to have a locally overwritten value of `insert-directory-program` and it would need to be marked as permanent (https://

[2018-07-02 15:22] Fuco1 commented on #85
However I think the sudo solution is pretty damn good.  It's not really any slower and not a usability problem as the password can be cached.

[2018-07-02 15:23] Silex commented on #85
Hum, would rename/delete/etc on the files still work?

[2018-07-02 15:56] Fuco1 commented on #85
True, renames and so on would not work (well, you could make it work by hacking default directories and stuff but... meh).

[2018-07-10 06:57] Silex commented on #85
Alright, https://github.com/Silex/docker.el/commit/e06f2e1e9e18926f959bd2aa937fe58d07bd01aa should do what you need :wink:

Press `d` in `docker-volumes`.

[2018-07-10 06:57] #85 closed

[2018-07-28 16:04] Silex commented on #65
@Fuco1, @ksjogo: Alright! Can you give https://github.com/Silex/docker.el/tree/configurable-listings a try? This should work for containers & images, press `l` to configure the listing according to your tastes (you can select `-a` or dangling images, etc).

@Fuco1: can you help me out understanding emacs? In https://github.com/Silex/docker.el/commit/96404e896627f737a219f096aa080aa4d8538639 I tried

[2018-07-28 19:36] Silex commented on #43
:tada:

I pushed 502d88470e5002fe058d04ba3a8be9a4c46dba04 and 14b5cea6c822c085bfa22011e3d73e68887e38d0 which should sort correctly by `Created` and `Size`.

Sorry it took me so long but I finally have a bit of time to work on docker.el :smirk:

[2018-07-28 19:36] #43 closed

[2018-07-29 04:41] haifenghan opened #86 "error in installation of docker-20180728.1948"
The docker-20180710.1443 works fine in my emacs. However, after upgrading to latest docker-20180728.1948, I always get the following error:

[code]

Could you please look into this?

[2018-07-29 14:20] Silex commented on #65
Alright, merging soon.

[2018-07-29 14:30] Silex commented on #58
FYI this was fixed by recent commit on master (press `l` on the listing).

[2018-07-29 19:11] aaronjensen opened #87 "Autoloading magit-define-popup errors unless you load magit first"
I defer loading magit for startup perf reasons. It seems docker.el now attempts to create its popup when initializing autoloads, which is too early, so it errors because `magit-define-popup` is not yet defined.

[2018-07-29 19:35] Silex commented on #87
Good catch! Should be fixed by 82a35820c69323690a42883086a45ce7a1dbe1fd

[2018-07-29 19:35] #87 closed

[2018-08-02 04:35] zakame opened #88 "Symbol's value as variable is void: docker-arguments"
https://github.com/Silex/docker.el/commit/62ce93f029321553ba4f88263aee49be346e2841 introduced docker popup options, but seems to lack `docker-arguments`:

![image](https://user-images.githubusercontent.com/110625/43562680-7d536d1e-9650-11e8-9c03-9e2e5b6bf308.png)

[2018-08-02 07:36] Silex commented on #88
Should be fixed by https://github.com/Silex/docker.el/commit/9874e1b4ca117f3c277ec775bd173f1a71bdc21b, sorry for the annoyance.

[2018-08-02 07:36] #88 closed

[2018-08-02 10:53] zakame commented on #88
No worries, thanks @Silex ! :+1:

[2018-08-20 11:00] dcaixinha opened #89 "Ability to run two different shells in the same container"
Hey! First of all, thank you for this amazing package! It's incredibly useful :raised_hands:

An issue I've had with this package is that it doesn't allow me to run two shells in the same container. When I run `docker-containers`, and then press `b` twice to get a shell, it always points me to the already opened shell in that container (if there is one). Is this feasible at all?

[2018-08-20 11:34] Silex commented on #89
Hello! Good idea, a88d585e283cb614170e450dd82895612c8d315d should have fixed the problem.

[2018-08-20 11:34] #89 closed

[2018-08-26 23:46] peterbecich opened #90 "`docker logs --follow` restart on container restart"
I get a lot of value out of the `L -f` feature in `docker.el`.  As expected, the Shell that prints the logs goes from `run` to `no process` when the container stops.  Is it feasible to have the Shell process restart when a container with the same name is started?  Thank you

[2018-08-28 15:31] Silex commented on #90
Hello! I'm currently on holidays so I can't help much atm, but try a quick Google on "async-shell-command restart process".

I'll look what is feasible or not when I come back.

[2018-09-14 14:04] Silex commented on #6
Closing this as this is too much work to support everything. Will go case by case.

[2018-09-14 14:04] #6 closed

[2018-09-14 15:47] Silex commented on #90
This will be complicated to support. The only thing I found was https://emacs.stackexchange.com/questions/35421/refresh-async-shell-command-buffer?rq=1

Given the current behavior matches the docker one, it does not make sense to bend it to support your use case. What I could recommend is to use `docker-compose logs -f container1 dummycontainer` where dummy-container is just a silly container that

[2018-09-14 15:47] #90 closed

[2018-09-21 02:29] take-cheeze opened #92 "Services of docker-compose commands should be selected by actions."
Since setting default values cause conflicts with services option.

As a magit example they have separate action(`magit-fetch-popup`):
https://github.com/magit/magit/blob/aae1e575431ff71dad64f21c39f9db5c61e1527a/lisp/magit-remote.el#L454

[2018-09-21 07:12] Silex commented on #92
At first I had it like this, with a completion where you could select:

- All services
- service1
- service2
- ....
- serviceN

But this limited the ability to express this:

`docker-compose restart service1 service4`

Thus I went for the current solution.

Can you provide an example of the conflict with the service option?

As an alternative maybe we could simply `(read-string "Services (ENTER fo

[2018-09-21 07:26] Silex commented on #92
Ah right, but I think it's only visual (e.g things still work as expected).

What do you think about removing services alltogether and just using `read-string` as proposed?

[2018-09-21 07:27] take-cheeze commented on #92
It's not only visual. The same options will be passed twice.

[2018-09-21 07:31] take-cheeze commented on #92
Well, I would like the path of `all` and specified services to be different.
Most of the time `all` is enough.

[2018-09-21 07:38] Silex commented on #92
Can you give https://github.com/Silex/docker.el/tree/docker-compose-services a try?

[2018-09-21 09:33] dcaixinha opened #93 "Down command for docker-compose"
Hey! First of all, thanks for the addition of `docker-compose` to this package. It's really helpful :raised_hands: I'm now using it as part of my workflow, partifcularly the `docker-compose up` to boot up the current projectile project. However, it seems that there isn't a way to do a `docker-compose down`? Is this by design? How should I do it?

[2018-09-21 09:37] Silex commented on #93
Hum, it's just not implemented :-)

I usually simply do `docker-compose rm -vsf`, but maybe I should start using `docker-compose down` :sweat_smile:

I'll implement it after https://github.com/Silex/docker.el/issues/92 is merged, which will change how you list services

[2018-09-21 09:45] take-cheeze commented on #92
Created what I want to based on your code: #94

[2018-09-21 09:47] Silex commented on #92
Following in #94

[2018-09-21 09:47] #92 closed

[2018-09-25 08:50] Silex commented on #93
Fixed by a1e7aa0e4d9bec8b093d3fec839a50e39315b775

[2018-09-25 08:50] #93 closed

[2018-10-09 16:31] dcaixinha opened #95 "Add `docker attach`?"
Hey @Silex, once again thank you very much for this package :raised_hands: I'm making it part of my workflow and in this process I'm finding some stuff that would be really cool to have in it.

In this case, I'd really love a way to [attach to a container](https://docs.docker.com/engine/reference/commandline/attach/) from the `docker-containers` list. Usually I do:
[code]
to attach to a running co

[2018-10-10 09:10] dcaixinha opened #96 "Add different shells to `docker-containers` list"
Currently we can get into a container via either `shell` or `eshell`. While I do like them (and mostly try to use `eshell` for everything), there are some cases where I need to use `ansi-term` or `multi-term`. Specifically, I can't set and use breakpoints when programming in [Elixir](https://elixir-lang.org/).

Do you think it'd make sense to have this in `docker.el`?

[2018-10-10 09:31] Silex commented on #95
Thanks @dcaixinha!

Well attach should not be very complicated, it'd just be `async-shell-command` like we do for docker-run.

I'll see what I can do.

[2018-10-10 10:00] Silex commented on #96
Well `term` does not support TRAMP (which is how we shell in the container). You can use plain `exec` with `bash` to get similar `term` behavior I think, but probably not the full term experience.

[2018-10-10 10:00] #96 closed

[2018-10-10 13:19] Silex commented on #95
Next steps in #97

[2018-10-10 13:19] #95 closed

[2018-11-12 05:41] take-cheeze opened #98 "`*docker-compose logs*` buffer should be read only"

[2018-11-12 21:16] Silex commented on #98
Right... at the moment it just uses `async-shell-command`, I'll see if there's something sensible to do.

[2018-11-13 00:27] take-cheeze commented on #98
magit seems to use `dired-do-async-shell-command`
https://github.com/magit/magit/blob/ad130229cbde10af16276f0ef2882aa7a5f40170/lisp/magit-extras.el#L167-L176

[2018-11-19 07:41] Silex commented on #98
Okay, `dired-do-async-shell-command` is for when you work on a file, so it makes sense to reuse it in magit's case, but not here.

For now I'm not sure this is worth fixing, especially since it might all change when I finally get to work on https://github.com/Silex/docker.el/issues/4

Just curious, do you have a problem with the buffer not being read-only except design-wise?

[2018-11-19 12:40] take-cheeze commented on #98
As long as I care not to delete logs there is not much problem. I can wait #4 .

[2019-01-25 11:23] 2mc opened #101 "void-function docker-container-unpause-arguments"
For some reason `docker-container-unpause-arguments` is void, whereas `docker-container-pause-arguments` exists.

[2019-02-15 13:51] Silex commented on #101
@2mc: oops, seems that I missed this issue! Sorry I'll look into it

[2019-02-15 13:53] Silex opened #102 "Switch to transient.el"
https://github.com/magit/transient/blob/master/docs/transient.org#modifying-existing-transients
https://github.com/magit/magit/pull/3728

[2019-02-15 14:00] Silex commented on #101
@2mc: fixed

[2019-02-15 14:00] #101 closed

[2019-04-10 09:21] seagle0128 commented on #102
Vote +1. Since `magit-popup` is deprecated, and it's easy to port to `transient`. Please!

[2019-04-11 08:58] zwpaper opened #108 "How to pull new image from url"
This may be a question, but I can not find issues or content in readme.

I can see `Pull` in `Images` view, but I can only mark an image, and pull (update) it
When I was trying to pull a new image, I can not find an entry.

I have tried to place the cursor in empty line and then `Pull`, `no entry at this point` occurred.

Maybe an input window popup and we can fill the URL could be better?

[2019-04-12 07:30] Silex commented on #108
Good idea! I need to think about the binding for that tho.

[2019-04-12 07:32] Silex commented on #102
Well it's "easy" but still takes a bit of time which I don't have :cry:

Also some aspect of the migration I'm unsure of, like the default popup arguments https://github.com/Silex/docker.el/blob/master/docker-image.el#L55-L58

I'll try to work on it this weekend.

[2019-04-12 08:11] seagle0128 commented on #102
Thank you, @Silex . I understand you need time to make it. `easy` means not too difficult for you :-)

[2019-04-14 13:06] Silex commented on #102
it's aliiiive #109

[2019-04-14 13:06] #102 closed

[2019-04-14 13:44] seagle0128 commented on #102
Thanks, @Silex .

[2019-04-14 16:04] MaSven opened #110 "podman usage"
So I found a couple of issues with my implementation after using it a little more. The output of podman is not really the same as docker with the format="json". There is also the option to use the go templates, but there are not the same as the one from docker. I will need some more work on this. By now I think it would be better to revert the podman feature or to disable it. Also, maybe it would

[2019-04-15 06:30] Silex commented on #110
Hum, you mean you didn't really test your changes when doing your PR or is it just subtle changes?

Anyway, we have several options:
1. no podman support
1. basic podman support, like simply converting a bit of json/go templates back & forth
1. advanced podman support, where when podman is used we offer more options in the interface

I think `2` is reasonable, but we need to check how podman's go

[2019-04-15 21:28] MaSven commented on #110
I think I messed up my init.el and somehow tested against the docker cli and not against podman and now realized that the output from format="json" can not be converted the same way as the docker one. Totally my failure. Yes a docker-podman converter function would be the best idea.  But I would write one function in the utils for the output that can be filtered because podman already outputs norm

[2019-04-16 06:07] Silex commented on #110
It's okay, shit happens :tm: it's a good lesson for the next time (test better).

How I do it is I start `emacs -Q`, I navigate to the docker file using `dired`, then I load (`L` key) all the `.el` files.

I also `edebug` sometimes to make sure I'm in my modified functions.

About the json, it looks very similar, so translation functions should be easy to write.

[2019-04-28 09:47] Silex commented on #110
Hum, I won't have time to work on supporting podman, I have plenty of work already :wink:

I reverted the commit and pushed a `podman` branch with your changes, that way if somebody has time to work on it he can start somewhere.

[2019-04-28 09:47] #110 closed

[2019-07-15 21:34] jtmoulia opened #113 "Allow custom docker-compose command"
In the spirit of #52 I'd love to be able to customize the `docker-compose` command.

I've written a script which wraps `docker-compose`, sending the arguments right along to the `docker-compose` command. So if I can just plug in my custom `docker-compose` command I can take advantage of my existing workflows.

If this is something that might be accepted as a PR I'm happy to implement (should be ea

[2019-07-19 20:35] matthew-piziak opened #115 "How do I build from a Dockerfile using this package"
Is this only possible through `docker-compose-build`? Is there something I can just point at a Dockerfile? Not a problem to do this through a shell; I'm just curious.

[2019-07-29 11:33] Silex commented on #115
To build dockerfiles simply use https://github.com/spotify/dockerfile-mode and press `C-c C-b`.

[2019-07-29 11:33] #115 closed

[2019-07-29 11:39] Silex commented on #113
Hello, sorry I was on holidays.

Yes good idea, just make a `docker-compose-command` variable or something.

[2019-07-29 13:46] chrislong opened #116 "Feature request: Allow command to not *select* anything"
I often want to operate on a single container. Then I want to operate on a different container. Currently, I have to remember to deselect in between because any operating selects the container. This is not how any of my other tools in emacs operate on individual items (e.g., magit, dired) and I find it really annoying. I don't mind keeping the current behavior as the default but I would really, re

[2019-07-29 18:32] Silex commented on #116
`U` unselects everything. Is that ok for you?

[2019-07-30 07:10] #113 closed

[2019-07-31 19:22] chrislong commented on #116
I don't use `ibuffer`, but for `dired`, if you're only operating on one file, you don't need to use selection (aka marks) at all (although you can also mark things and then later operate on them). Delete is kind of weird because if it succeeds it doesn't matter if the file had gotten marked/selected/whatever-term-you-want because it's not there any more. For other operations in dired (e.g., rename

[2019-07-31 21:03] Silex commented on #116
Hum, actually you are right... `ibuffer` selects the buffer under the cursor, but dired just mention which file it will operate on.

I need to think about it, in the meantime you can press `U` to unselect everything :wink:

[2019-08-03 20:20] transitracer opened #118 "Docker Swarm support"
my main docker usecase outside of development is docker swarm, would be great to see support for it in docker.el, especially alongside the existing docker machine support

[2019-08-05 06:50] Silex commented on #118
@transitracer: yes, it would be nice... but...

Supporting docker swarm is no little task. You can look at https://github.com/Silex/docker.el/issues/6 when I initially wanted to support everything, but I you look at the commits it's obivous that I have trouble finding time to work on docker.el

Right now I would like more to fix the obvious features first (like #4, #108, #109) before widening the

[2019-08-05 20:42] transitracer commented on #118
I haven't written much elisp lately, so I won't make any promises, but I'll definitely do some poking into it!

[2019-08-12 14:03] MarTango opened #119 "Don't read from stderr when running commands"
If you run `docker-compose-exec`, the command `docker-compose config --services` lists unset environment variables to stderr, which then gets read in as docker-compose services.

I think the stderr output should still be piped to *Messages*, but not parsed. (This will involve refactoring to use another function instead of `shell-command-to-string`.

[2019-08-12 20:52] Silex commented on #119
@MarTango: can you clarify what you mean by "unset environment variables to stderr"?

Here is what happend when I used the exec popup to set an environment variable:

[code]

The environment variable set in the dialog persisted...

[2019-08-13 13:11] MarTango commented on #119
Sorry for the ambiguity, I mean when a `docker-compose.yml` file contains [environment variables ](https://docs.docker.com/compose/compose-file/#variable-substitution) that are not set.

e.g.

[code]

[2019-08-13 14:32] Silex commented on #119
Ah right, okay fixed by fe74a499ce3246fb9a7d72e6931864b94ce5261d

[2019-08-13 14:32] #119 closed

[2019-09-13 12:20] yyoncho opened #120 "Feature request: use different face depending on the status of the container"
First thanks for the package!

IMO having this feature will improve the usability of the package.

[2019-09-14 12:23] Silex commented on #120
That's a good idea. No time yet but keeping the issue open so hopefully I get to try impleneting it soon.

[2019-10-01 14:53] gspe opened #121 "docker.el doesn't work with fish shell"
On my system I use fish shell, I've tried docker.el but it doesn't work, this is the backrace of the error:
[code]

After asking for help this emacs config solve the problem:
[code]

I don't know if this can be fixed in the code or if you use fish shell you always have to use this emacs config

[2019-10-01 22:35] Silex commented on #121
Should be fixed by bdd609b0541a159b1546290d3da279dc1d7eb21e. You can also customize `docker-container-shell-file-name`.

Related to #66

[2019-10-03 09:09] Silex commented on #121
@gspe: happy with the fix?

[2019-10-03 10:36] gspe commented on #121
Hi, I've tried the new version, thanks for your help.
But this not solve my problem.
My problem is the system shell (the shell outside the container) not the shell inside the container.

I have fish shell as my system shell and docker.el seams that don't like the output of fish shell
this is the output of `docker-containers`
[code]

This is the output of `docker container ls -all`
[code]

[2019-10-03 11:34] Silex commented on #121
Okay, you made me discover that `shell-command-to-string` actually uses `shell-file-name`. I probably need to wrap it with let bindings.

[2019-10-03 11:40] Silex commented on #121
Can you test https://github.com/Silex/docker.el/tree/handle-fish-shell and report?

[2019-10-04 17:14] gspe commented on #121
Hi, I've tested it and seam to work correctly.

[2019-10-05 06:51] Silex commented on #121
Alright, merged.

[2019-10-05 06:51] #121 closed

[2019-10-19 13:17] Silex commented on #116
Okay, I'll move toward your suggestion with my transient refactor. Will keep you informed.

[2019-11-11 07:17] Silex opened #122 "Windows support"
https://github.com/Silex/docker.el/blob/master/docker-utils.el#L34

`shell-file-name` has to be `proxycmd.exe`

@OldIMP: do you see something else? do you have an idea about how to solve this elegantly?

[2019-11-11 15:12] OldIMP commented on #122
Thx for the issue!

Actually this might be the only issue on windows, Right now I've just overwritten the function in my own .emacs as a workaround:
[code]
and everything works fine.

Basically I think it's a good idea to let emacs decide `shell-file-name` by itself. I don't know what was exactly the problem w/ fish. Maybe I can help if u provide more details on that, since I've found no Github is

[2019-11-11 15:31] Silex commented on #122
The issues with fish were #66 and #121.

There was two issues:
1. fish was being used when shelling inside containers, and of course there it was not installed.
1. fish was being used instead of sh/bash when calling docker and it created parsing issues.

`1` was solved with `docker-container-shell-file-name`, and for `2` I explicitely set `shell-file-name` to sh to avoid parsing issues.

I think t

[2019-11-11 15:48] Silex commented on #122
Ok it should be fixed by ed92726.

Please reopen if it still happens.

[2019-11-11 15:49] #122 closed

[2019-11-17 17:10] Silex commented on #116
Will be fixed by #109.

[2019-11-17 17:10] #116 closed

[2019-11-20 08:44] mihapiha opened #123 "docker-compose up detached option is wrong"
When invoking docker-compose up command with detached option, docker.el produces following wrong command
`docker-compose up --detach`
where correct argument would be
`docker-compose up -d`

[2019-11-20 20:08] Silex commented on #123
What version are you using? As you can see both `-d` and `--detach` are valid.

[code]

[2019-11-20 20:21] Silex commented on #123
Can't hurt to use the short form so I did in 98533cb4eeaa95a0f3203647021df02affab9cc7, you probably use an old docker-compose version.

Reopen if it's still a problem.

[2019-11-20 20:21] #123 closed

[2019-11-22 21:58] Silex commented on #108
This was implemented in 117c220a9cea9890978a0d931f792f70d1c4e140

[2019-11-22 21:58] #108 closed

[2019-11-27 22:32] shackra opened #124 "Symbol’s value as variable is void: docker-container-attach"
Recently updated this package using straight.el and turns out I catch an error:

[code]

[2019-11-28 02:13] shackra commented on #124
the commit I have registered for the package is 5027a3d541b1dcbb2f7ec0bac04a30dceeca7ce8

[2019-11-28 10:05] Silex commented on #124
@shackra: you can update again? Also, can you show me your straight config?

[2019-11-28 17:33] shackra commented on #124
I have updated and it seems the package points to commit 117c220a9cea9890978a0d931f792f70d1c4e140

Also, I don't experience this issue anymore

[2019-11-28 17:36] #124 closed

[2020-03-28 22:33] RCoeurjoly opened #126 "/bin/sh: 0: can't access tty; job control turned off when executing docker-containers"
When I execute docker-containers, I get the following error:

docker container ls --format="[{{json .ID}},{{json .Image}},{{json .Command}},{{json .CreatedAt}},{{json .Status}},{{json .Ports}},{{json .Names}}]"
helm-M-x-execute-command: Could not read following string as json:
/bin/sh: 0: can't access tty; job control turned off

When I execute the docker container command in my terminal, I get th

[2020-03-29 07:52] Silex commented on #126
It's hard to say what's the problem is given it's very likely a problem on your machine.

I found https://superuser.com/questions/410472/bin-sh-cant-access-tty-job-control-turned-off-error-when-running-shellcode which suggest to try `sh +m` or to delete `/dev/console`, but that looks scary.

Did you do something fancy on your machine to secure it?

[2020-03-29 20:57] Silex commented on #120
@yyoncho: I have something working at https://github.com/Silex/docker.el/tree/pretty-status

Do you see other colors than "Up / Exited / Created" for the containers status? Other areas where colors would make sense? The only thing I can think of is docker machine statuses, but not much else makes sense.

[2020-03-30 05:23] yyoncho commented on #120
No.

[2020-04-01 21:39] Silex commented on #120
Implemented on master :tada:

[2020-04-01 21:39] #120 closed

[2020-04-02 21:06] Silex commented on #126
@RCoeurjoly: friendly ping

[2020-04-03 07:52] RCoeurjoly commented on #126
I have done nothing fancy to secure my machine.

Where should I do sh +m?

M-x shell-command ls does work, but, apart from the result, I get:
bash: cannot set terminal process group (-1): Inappropriate ioctl for device
bash: no job control in this shell

[2020-04-03 08:07] Silex commented on #126
There really seem to be something wrong with your installation. I'm pretty sure once `shell-command` and friend work normally docker.el will also work normally.

Try asking on emacs.stackexchange.com or on stackoverflow?

[2020-04-03 08:13] elbaulp opened #127 "Specify network on image run"
Hello,

is it possible to specify the argument --network  "host" when running an image? I do not know how to use declared networks when running images.

BTW: Awesome package :-)

[2020-04-03 10:49] Silex commented on #127
Done in 32b5e44 :wink:

[2020-04-03 10:49] #127 closed

[2020-04-03 11:24] elbaulp commented on #127
Thanks!

[2020-04-10 05:34] gitonthescene opened #128 "Sorting images on size is buggy"
Hi there,

First thanks for the package.  Works like a treat!  I don't know if it's only my version of docker or not, but when I view images and try to sort by size the number of images in the result changes. I'm not precisely sure how this works, but it seems to be due to the fact that images of size in the kilobytes are displayed as "kB" and not "KB".  The following change seems to fix it.

[2020-04-10 05:49] gitonthescene commented on #128
FWIW, I think the behavior would be characterized as "unpredictable" because this is causing the sort predicate to fail.

[2020-04-10 07:13] Silex commented on #128
Thanks! If you want to make a PR you can do it otherwise just let me know and I'll commit your suggestion myself given it's so simple.

[2020-04-10 07:15] Silex commented on #126
Closing because I don't think it's a problem in docker.el. Feel free to reopen if you find otherwise.

[2020-04-10 07:15] #126 closed

[2020-04-10 08:37] gitonthescene commented on #128
Done.  It's pull request  #129

[2020-04-10 08:38] gitonthescene commented on #128
Thanks for getting back so quickly!

[2020-04-10 08:45] gitonthescene commented on #128
On a separate note, it would be nice to have a configurable list of common docker commands, say starting up containers with your favorite images, which are more easily accessible.  Does this exist already?  If not, I might take a shot at adding it.

[2020-04-10 10:23] Silex commented on #128
I think this can already be done with https://magit.vc/manual/transient/Modifying-Existing-Transients.html, and there are more examples here https://github.com/magit/magit/wiki/Converting-popup-modifications-to-transient-modifications (check "Adding a switch/option" sections).

Closing this issue as it's resolved, but you can continue asking questions. If you get something working with transient m

[2020-04-10 10:23] #128 closed

[2020-04-10 11:08] Silex commented on #128
Oh btw, what I meant above is adding options or actions to the image run popup, with your favorite parameters, for example https://github.com/Silex/docker.el/blob/master/docker-image.el#L159

[2020-04-10 23:22] gitonthescene commented on #128
Thanks very much.  I'm still wrapping my head around transient and how I think I'd like it to work.  It's very convenient for poking around options but not so easy to wrap your head around quickly.  I think I'd like to see something like a Ctrl-R history in the shell though I get that that's quite different from what transient offers.  Ideally we could meld the two somehow.

Also, some options are

[2020-04-11 09:23] Silex commented on #128
Sure, feel free to make a PR for any options/switches that are missing.

[2020-04-14 19:03] CDitzel commented on #84
that would be nice indeed. Loving the package. Good work!

[2020-04-15 17:21] Silex commented on #84
Hey I didn't notice I had 7 upvotes for this! I'll try to have something basic going, maybe simply as a text next to the actions.

[2020-04-19 12:25] CDitzel opened #131 "Using Dockerfile-mode for building via TRAMP fails"
I understand that opening docker-mode in a TRAMP buffer, be it a file buffer, or e.g. a Dired buffer, displays the images or running containers on the respective remote machine. However, trying now to build an image after opening a Dockerfile and hitting C-c C-b fails with

any idea how to fix that?

I know that this is more related to the other repo for dockerfile mode but in an issue on here tha

[2020-04-19 17:16] Silex commented on #131
Well this is an issue for https://github.com/spotify/dockerfile-mode/issues/55, as you yourself noticed. Will try to help there.

[2020-04-19 17:16] #131 closed

[2020-04-28 06:03] CDitzel opened #132 "allow for using run command in transient with optional shell script"
Often times I use run_docker.sh script for firing up a container since the amount of flags I pass to the docker run command is large. Would it be possible to be queried for the location of such a script as an option?

[2020-04-28 06:55] Silex commented on #132
That sounds unrelated to the package... can you describe a bit more what you are doing, maybe with an example?

[2020-04-28 07:02] CDitzel commented on #132
delighted to. Right now the package offers to run a container with R from an existing image and then prompts the user for an optional command. Why not an option "run via script' which allows to point to the location of a script that contains a run command with many flags that would otherwise be to cumbersome to manually construct from the offered arguments within the package

[2020-04-28 07:24] Silex commented on #132
I don't understand why you'd want to use `R` and have the arguments loaded from `run_docker.sh` instead of simply running `M-& run_docker.sh` (running an asynchronous command).

Now if the question is more generally how to save presets of transient, maybe you can write elisp manipulating `transient-history` to your advantage.

@tarsius: I know you can `C-x C-s` to permanently save a transient valu

[2020-04-28 09:58] tarsius commented on #132
I don't understand, but maybe I don't have to to be of help.

You can cycle through previously used values much the same way as for minibuffer completion using `M-p` and `M-n`. Does that qualify as a trick here? ;D

[2020-04-28 16:22] Silex commented on #132
:exploding_head:

Amazing. Didn't know that trick. Thanks!

@CDitzel: that'd be enough for your answer (not having to set up the transient each time). You can also look at `transient-history-next` and use it as inspiration.

[2020-04-28 16:23] #132 closed

[2020-05-22 13:59] maaroen opened #135 "Docker Logs from a container while using a host with --tls doesn't work"
When I request docker containers using -H xxx.xxx.com:443 --tls it shows the containers correctly, but when I try to enter the logs of a container with L it shows an error message:

error during connect: Get http://%2F%2F.%2Fpipe%2Fdocker_engine/v1.40/containers/xxx.adapter.api/json: open //./pipe/docker_engine: The system cannot find the file specified. In the default daemon configuration on Wind

[2020-05-22 14:33] Silex commented on #135
Hum, I never use `-H` so please help me here.

I don't understand how you get the `--tls` flag given the current transient does not offer that option.

Also inspect is so similar to logs that I don't understand how one works while the other not.

Can you reproduce the problem and then copy the relevant lines from `C-h e`? You'd be able to see what docker commands are produced, copy the ones from l

[2020-05-22 17:53] maaroen commented on #135
I got the --tls flag, just by putting it behind the given host after using the -H flag

If I see this:
docker --host platform-docker-test.xxx.com:443 --tls container inspect adapter.api

docker --host platform-docker-test.xxx.com:443 --tls container ls --format="[{{json .ID}},{{json .Image}},{{json .Command}},{{json .CreatedAt}},{{json .Status}},{{json .Ports}},{{json .Names}}]"

docker container

[2020-05-23 10:39] Silex commented on #135
Nice trick. I'll add `--tls` to the option.

Thanks for the debugging, yes it looks like it was forgotten, tho I don't understand why by reading the code. I'll investiguate.

[2020-05-23 11:09] maaroen commented on #135
I needed it and I figured that was a way to get it behind.

Glad I could help you, good luck finding the issue! I'll wait for a fix.

[2020-05-23 12:11] Silex commented on #135
Found the issue, fix incoming.

[2020-05-23 13:15] maaroen commented on #135
Nice, thanks for the fast action!

[2020-05-23 13:24] Silex commented on #135
Fix on master. For the `--tls` flag, I think I'll add all the TLS options but hide all options in transient, because they are not used most of the time, like there is in magit.

[2020-05-23 13:24] #135 closed

[2020-05-24 09:30] Silex commented on #135
@maaroen: check https://github.com/Silex/docker.el/commit/a145c5673dfcee256f600f43d862a8603faf500a and tell me if that works for you.

[2020-05-25 05:50] maaroen commented on #135
@Silex I had to figure out how to use the transient, but by doing C-x l, I was able to set the transient level for -H en -Tt to 1, and it works now.
The logs work as well, thanks a lot for fixing this!

[2020-05-25 08:57] maaroen opened #136 "Support for stopped containers"
Hello @Silex,

Is it possible to add support for stopped containers? Like what you would usually get by using docker ps -a?

That would be great, I'm missing this at the moment.

[2020-05-25 11:48] Silex commented on #136
Well this is supposed to be the default already :sweat_smile:

https://github.com/Silex/docker.el/blob/master/docker-container.el#L273

But I realised if you never visit that popup then it's not set. I need to think of the proper fix, in the meantime you can simply press `l` and enable `-a`. This should stay enabled.

[2020-05-27 16:02] Silex commented on #136
@maaroen: ping

[2020-05-28 05:39] maaroen commented on #136
Hello @Silex ,

Hey sorry I was busy and forgot to check out your answer. Yea with l I enabled -a and now I an see the stopped containers!

Thanks again for the fast answers!

[2020-05-28 19:08] Silex commented on #136
Just keeping this open to remember me about having it enabled by default if you never visited the options.

[2020-05-29 09:22] maaroen opened #137 "Support for multiple compose files"
Hello @Silex,

I'm trying to run some docker compose files with the Compose option, but if I use the -f to select a compose file I don't see the option to add multiple files.

In my case now I have a docker-compose and a docker-compose.override file which both need to be used at the same time.

Is this possible with the current implementation?

With kind regards,

Maaroen

[2020-05-29 14:18] Silex commented on #137
@maaroen: it's not supported directly but you can select one file then add the 2nd `-f` flag yourself.

So, in the popup you'd type "docker-compose.yml -f docker-compose.override" as the value for the `-f` flag.

[2020-05-29 14:30] maaroen commented on #137
@Silex ah ok I'll use that for now, but I think it would be a nice feature to add extra ones with an additional command.

Thanks for your fast reply!

[2020-05-30 08:57] Silex commented on #137
@maaroen: with what interface tho?

@tarsius: do you have something in transient for input "multiple times the same flag"?

The end command is `cmd -f foo.yml -f bar.yml -f keke.yml`.

[2020-05-30 13:55] maaroen commented on #137
@Silex,
Or you could make a sub interface in the mean time in which you can keep pressing the same - f untill you added all you wanted. Like

Docker-mode > compose -Ff and then something which shows options to add additional files or ready and back to compose menu. Not sure if it is possible tho

[2020-05-30 15:48] tarsius commented on #137
Look at `magit:--`, which is used to pass a list of files to `git log`. Also look at the class of that: `transient-files` and in particular all the methods implemented for that class. You will likely have to create your own class and implement some of these generic functions slightly differently.

[2020-05-30 15:54] Silex commented on #137
@tarsius: thanks! will do.

[2020-06-02 12:23] maaroen opened #138 "Support for additional log options"
Hello @Silex,

Is is possible to add additional options to the container log commands? for example:
--tail
--since
--until
This are the available options: https://docs.docker.com/engine/reference/commandline/logs/

With kind regards,

Maaroen

[2020-06-02 12:26] maaroen opened #139 "Container refresh from container overview"
Hello @Silex,

Do you think it is possible to add a shortcut to the container overview to refresh the container list?
I could use this for example to check a container status after restarting, without having to reopen the whole command and enter the host string again.

You could for example put it on g r, which I think is more commonly being used for refreshes.

With kind regards,

Maaroen

[2020-06-02 21:07] Silex commented on #139
It's already on `g` in vanilla emacs and on `g r` with evil-collection. Or are you talking about something else?

[2020-06-02 21:13] Silex commented on #138
Added in d6233bdb9ccaee4da7cdc0ef162bfe4727227142

[2020-06-02 21:13] #138 closed

[2020-06-03 05:20] maaroen commented on #138
@Silex Thanks for the fast answers once again, maybe it's an idea to add:
--details
--timestamps (-t)
to be complete according to the docker documentation?
I realise it was better if I put them in my first post.

[2020-06-03 05:21] maaroen commented on #139
Oh strange, I tried g r yesterday but it didn't work, I guess I messed something up. It works now as intended, sorry for the inconvenience!

[2020-06-03 05:21] #139 closed

[2020-06-04 17:47] Silex commented on #138
I don't like the idea of "being complete" just for the sake of being complete.

I mean, eventually, sure... but everything you add needs maintainance, etc. There is already so many areas that need completion... see #118 and #6, the scope is huge.

I much prefer to add things that people use for now. Do you agree?

[2020-06-04 20:19] maaroen commented on #138
Yea you do have a point here, I do agree.
I'll let you know if there are more features that i'm missing!
thanks

[2020-06-09 13:00] maaroen opened #140 "Show error messages from docker daemon"
Hello @Silex,

I just tried to start a container, but it didn't want to start from the interface, in the logs I saw nothing either.
But when I tried to start the container from a normal commandline, I received this error message:
![image](https://user-images.githubusercontent.com/22098498/84150265-e9d7b900-aa61-11ea-874c-b9e15c551544.png)

Is is possibile to show these error messages somewhere so

[2020-06-09 18:05] Silex commented on #140
Does the message appear in `C-h e` ?

But yeah, basically I need to work on #4 which would allow to show these errors.

I'm currently working on something else tho, so if you want to help help me figure out how to reuse magit-process.

[2020-06-09 18:17] maaroen commented on #140
The message sadly doesn't appear in C-h e.

Ah, no hurries ofcourse. I'm just posting here what I find to have it listed.

I'm not very familiar with elisp yet sadly, I just recently started using emacs (with evil). I want to try to find more time to get more into it. I would like to help, do you perhaps have something that I could get a nice start from to get into it?

[2020-06-22 10:55] mihaiolteanu opened #143 "Error while installing from MELPA"
When trying to install docker.el from MELPA, I get lots of "reference to free variable x" and "the function y is not known to be defined". Eventually, the `byte-compile-file` errors with

[code]

Just a small printscreen (the compile log is over 200 lines long):
![screenshot1592821333](https://user-images.githubusercontent.com/8273519/85279944-ea277980-b48f-11ea-954b-bd653569fe0b.png)

[2020-06-23 08:29] mihaiolteanu commented on #143
Solved.

My version of `transient` did not have the `transient-define-prefix`.
I can clearly see in your Package Requires that you specify `transient "0.2.0"`, but I've had one from 2019 in my local packages, presumably version 0.1.0.

I've had to manually install the version 0.2.0 from melpa. The errors and warnings are now gone.

[2020-06-23 08:29] #143 closed

[2020-06-23 14:41] Silex commented on #143
Ha, I started to reply to this saying that by me everything worked in an "emacs -Q" environment, but apparently I never got to hit enter.

Sorry for that, and glad you worked it out yourself :wink:

[2020-07-13 22:47] NickRaleigh opened #144 "Not working in Doom Emacs"
Hi,
Emacs noob here. I just installed docker.el in Doom Emacs, and every command invoked from M-x results in a similar error:

 ![image](https://user-images.githubusercontent.com/23318932/87360911-4f6b0980-c528-11ea-81b1-0acbbee26c40.png)

[2020-07-15 15:46] shukryzablah commented on #144
Did you try uncommenting docker in init.el or setting it up in addition to that?

[2020-07-15 16:54] NickRaleigh commented on #144
Yes, I uncommented docker from init.el:

![image](https://user-images.githubusercontent.com/23318932/87572931-7856e000-c689-11ea-958c-1a2084703d73.png)

[2020-07-15 17:00] #144 closed

[2020-07-17 10:17] hugot opened #145 "Symbol's value as a variable is void: docker-compose-build"
I get this error when running M-x docker after installation via package-install.

Debug log:
[code]

[2020-07-19 10:15] hugot commented on #145
Closing this, it had to do with an old version of transient.el being in my load-path, which didn't define the `transient-define-prefix` macro which in turn made byte compilation fail.

[2020-07-19 10:15] #145 closed

[2020-08-15 16:55] micah opened #146 "building images"
Hi,

It would be useful to be able to build images in Emacs, while viewing the Dockerfile. Specifically, iterating on changes, building and trying them could be quite a nice workflow.

[2020-08-17 07:15] Silex commented on #146
See https://github.com/Silex/docker.el/issues/115 :wink:

[2020-08-17 07:15] #146 closed

[2021-01-22 02:52] davidshen84 opened #148 "PATH variable is not updated to use container's PATH variable"
- version: 20200610.715

When starting a shell (or eshell) for a container the environment variables loaded, except the `PATH` variable which is always `PATH=/bin:/usr/bin:/sbin:/usr/sbin:/usr/local/bin:/usr/local/sbin`. This does not seem to be a problem for images that do not change the `PATH` variable.

One example is the `openresty/openresty` image which changed the `PATH` variable. As a resul

[2021-01-22 15:26] Silex commented on #148
That seems to be a bug in `shell` or `eshell`. Any idea how to fix it?

[2021-01-23 00:16] davidshen84 commented on #148
I observed this issue in an Emacs started from a WSL 1 environment. In another environment, Emacs with WSL 2, I did not have this issue...let's blame Windows...

[2021-02-03 10:00] dcaixinha opened #150 "Add support for `docker stats`"
Reopening [issue 50 from docker-emacs](https://github.com/Silex/docker-emacs/issues/50). I'd like to add support for `docker stats`.

This command on its own already opens a stream that auto-updates – this would be the simplest integration but it would mean that we had to run a `ansi-shell` to display it and we wouldn't be able to sort, as we currently are in other commands (e.g. `docker images ls

[2021-02-07 10:34] Silex commented on #148
Works for me 😄

[2021-03-09 01:14] noorul opened #153 "Support compose files with .yaml extension"
compose file completion is restricted to .yml extension. Some projects are already using .yaml extension.

[2021-03-13 19:43] #153 closed

[2021-04-24 14:48] lunik1 opened #156 "Permission denied when performing certain operations with docker-run-as-root"
When performing certain operations I get errors such as
[code]
these are usually operations that involve "stepping inside" the container - e.g. finding a file or opening a shell. I can perform operations such as restarting, stopping, and viewing the logs of containers just fine.

I am using `docker-run-as-root`. In my environment I cannot add myself to the docker group due to the security implicat

[2021-04-25 13:27] Silex commented on #156
Good catch, it's beause it uses TRAMP (https://github.com/Silex/docker.el/blob/master/docker-container.el#L138)

So basically one of the fix could be to use TRAMP multi-hop method and add another `sudo:` to the TRAMP url... but honestly it looks fragile, TRAMP being already quite fragile.

[2021-05-06 15:57] egh opened #157 "`docker-volume-dired` errors when opening docker volume"
emacs: 28.0.50-master-30d974b installed via [snap](https://snapcraft.io/emacs)
os: ubuntu 20.04

Steps to reproduce:

1. `M-x docker`, `v`
2. Select volume and type `d` to open dired

Result: Error
[code]

Cause: there is a newline at the end of the string.

Fix, which seems to work for me, is to add `s-trim-r` to `docker-run-docker`:

[code]

[2021-05-06 15:58] egh commented on #157
Forgot to add, this package is amazing!!! It makes using docker so much more intuitive for me.

[2021-05-14 09:36] Silex commented on #157
Thanks for the report, weird that it wasn't caught before. You want to make a PR or shall I just fix it myself?

[2021-05-14 16:36] egh commented on #157
Thanks! I'll file a PR later today.

[2021-05-16 19:58] #157 closed

[2021-07-25 13:49] antoineB commented on #150
Directly hit the API (https://docs.docker.com/engine/api/v1.41/#operation/ContainerStats) for better integration in emacs.

There is https://github.com/Silex/docker-api.el by the same author I don't know why he decided to use the `docker` cmd line instead.

[2021-07-29 17:12] stig opened #160 "Support for the `--quiet-pull` parameter for `docker-compose up`?"
Pulling is very noisy, so it would be nice to have an option to dial down the volume a bit on that.

[2021-08-04 13:09] Silex commented on #160
Merged to master, please report if that works for you.

[2021-08-04 13:09] #160 closed

[2021-08-04 17:42] stig commented on #160
It looks quieter :-)

[2021-09-09 08:32] abcdw opened #164 "Make 1.4.0 release"
There are no new tags for quite some time. Can you release a new version, please?

It will make easier for downstream package managers and distributions update docker.el package in their repositories.

Thank you for all your work!)

[2021-09-14 14:33] Silex commented on #164
Good idea. It's done :rocket:

[2021-09-14 14:33] #164 closed

[2021-09-15 06:27] abcdw commented on #164
On 2021-09-14 07:34, Philippe Vaucher wrote:

Thank you.  Updated package for GNU Guix:

https://issues.guix.gnu.org/50598

[2021-10-06 08:41] Silex opened #166 "Polls / New features"
This issue is there for when we need feedback on the package's direction.

Feel free to subscribe/unsubscribe from it.

[2021-10-06 08:42] Silex commented on #166
@spacegoing @davidshen84 @joshbax189 @marsam @Yuki-Inoue @gonewest818 @benswift @abcdw @stig

[2021-10-06 08:43] Silex commented on #166
[POLL] docker-machine is deprecated. I was thinking of removing support for it. Raise your hand if you disagree :wink:

[2021-10-07 00:07] thisch commented on #166
Re-adding support for `podman` would be nice.

[2021-10-15 17:05] codewylle commented on #166
@Silex thank you for readying to help. I will try to.

How can I inject docker-machine to [docker transient](https://github.com/Silex/docker.el/commit/9d845e1eaed663ccc811c0a9ede3b3c61859e9e4#diff-19694fc4a448bf03acac2f8cea2e66618495d51f0dd4019c4c6ca3657c4fd7edL66)?

[2021-10-15 18:58] Silex opened #168 "Restore docker-machine"
@codewylle do you just want docker-machine to be back in the docker transient or do you want to make it a standalone package?

I mean, if you just add `docker-machine.el` to your path you'd be able to call the `docker-machine-ls` functions etc already.

[2021-10-23 06:08] gitonthescene opened #169 "Repeating options"
Hi there,

I have an idea for how using something like the image `--mount` option might feel smoother.  The issue I have is that when you have to enter multiple mounts you have to select the mount option and then enter the mount switch as part of the value for the extra mounts.  This feels a little clunky to me.

My suggestion is to have it so that if you click on the mount option, you enter a sin

[2021-10-25 00:33] gitonthescene commented on #169
@tarsius - For clarity, are you saying that `transient-option` class shouldn’t clear results when reselected as per the [`always-read`](https://magit.vc/manual/transient.html#Suffix-Slots) slot set to `nil` but rather append values like the example above?  Are you changing transient.el directly to have the behavior of the example above?

I’m also not clear what kind of mistake you mean.  The code

[2021-10-29 20:56] gitonthescene commented on #169
If you read the issues cited people are able to work around the issues they’ve raised so it’s less a question of functionality and more a question of least surprise.

Where you suggest typing `foo.txt,bar.txt` they have been typing `foo.txt -f bar.txt` and been getting the behavior they expect but the experience doesn’t feel smooth.

The experience doesn’t change much if you use a comma instead of

[2021-10-29 21:05] gitonthescene commented on #169
FWIW, I think that the case is clearer with the `-e` option (as you call `KEY=VALUE` pairs) but the point is that using the comma is syntax not available to the underlying command.  `docker` in this case.

[2021-10-29 21:17] tarsius commented on #169
We are talking past each other. I think you should write a complete implementation of the behavior you want (not just an example but something docker.el could use). You may have to methods that you think should not be necessary or you might even have to patch transient.

Once that is done I can have a look and see whether I now agree that the UI that you propose is better than something based on `

[2021-10-29 22:22] gitonthescene commented on #169
Yes, we are.  I'm not sure why.  I think I've been fairly explicit and direct and haven't felt the responses to be the same.  I'm fast losing interest in this.  I was only trying to offer an improvement to Silex's project.  I'll move on to other things.  I wish you luck.

[2021-10-29 23:37] tarsius commented on #169
Good luck to you to.

[2021-10-31 19:36] gitonthescene commented on #169
[Linking](https://github.com/magit/transient/issues/172) for reference.

[2021-10-31 21:26] Silex commented on #137
@tarsius: sorry, being a new father makes me really busy :sweat_smile:

This is about this https://github.com/Silex/docker.el/blob/master/docker-compose.el#L312:

[code]

Basically, the resulting command can be one of:

- `docker-compose run --rm someservice foobar`
- `docker-compose -f dev.yml run --rm someservice foobar`
- `docker-compose -f dev.yml -f with_env.yml run --rm someservice foobar`
-

[2021-10-31 21:32] Silex commented on #169
@gitonthescene, @tarsius: thanks for helping me figure out what needs to be done :heart:

@tarsius: basically some options are unique, some options can be repeated.

Right now there are two cases where this would be useful:

- `docker run -e FOO=123 -e BAR=456 debian bash -c 'echo $FOO; echo $BAR'`, see https://github.com/Silex/docker.el/blob/master/docker-image.el#L266. At the moment to achieve t

[2021-10-31 21:41] Silex commented on #169
@tarsius: I'm not sure what the best behavior would be to input repeatable options.

@gitonthescene suggested we press `e` then input `FOO=123`, then we press `e` again then input `BAR=456`, which sounds decent. If you want to remove the last item then press `e` and directly enter.

Another way could be you press `e` then input `FOO=123,BAR=456` but the coma-separated way does not feel very natura

[2021-11-01 18:29] tarsius commented on #169
It will be a while until I get back to this. I am currently working on `transient` a lot to address various defects and add new features, which I consider more urgent than this. Among other things completing those things will make it easier to do "this".

[2021-11-02 07:55] Silex commented on #169
No worries, don't hesitate to ask if this was unclear, I can make it simpler to explain.

[2021-11-06 00:23] gitonthescene commented on #169
@Silex - FWIW, my solution has the virtue that if you don't need to use a repeatable option more than once it behaves exactly the same as non-repeatable options.  i.e. you don't need to any closing key combo like `C-M-x`.  Not to mention that its implementation is straightforward.

[2021-11-08 12:05] Silex commented on #168
@codewylle: no news from you so I'm closing this. Feel free to reopen.

[2021-11-08 12:05] #168 closed

[2021-11-25 21:10] behrica commented on #148
I have the same problem. And I am on Linux

[2021-11-28 22:14] behrica commented on #166
Support for "devcontainers.json" ?

`devcontainers.json` becomes a bit of standard way of describing "development containers."
Parts of it is Visual Studio Code specific, but parts are not.

https://code.visualstudio.com/docs/remote/devcontainerjson-reference

I think Emacs should have a way to handle it in some form. (= build the Docker image it "describes")
Maybe this package is the right place.

[2021-11-29 07:27] Silex commented on #166
@behrica: That looks like a lot of work. What support do you have in mind? It's the first time I encounter it.

[2021-11-29 08:59] behrica commented on #166
I only think about a small subset, of "fields" from the devcontainer.json file

Firstly there is an existing cli tool, which should be "called" from emacs:

https://code.visualstudio.com/docs/remote/devcontainer-cli

This does a big chunk of the work already.
It does a image build, as vscode would do.

This is the "first stage build".
Then we would only need code, which does something with 5  fiel

[2021-11-29 09:43] Silex commented on #148
I'll give a try with this `openresty/openresty` image. If you could make a testcase that'd be great.

[2021-11-29 09:46] Silex opened #174 "devcontainer.json"
@behrica:

[code]

https://www.reddit.com/r/emacs/comments/iqrze0/work_with_vscodes_dev_containers/

[2021-11-29 09:46] Silex commented on #166
Continuing in #174

[2021-11-29 09:48] Silex commented on #174
I think it's a lot of work and maybe that would be better in lsp-mode as suggested on the reddit post.

For sure I don't have time for it, but if you do a PR maybe.

I have trouble understanding how that fits "docker" tho, that looks more like "vscode-utils".

[2021-11-29 19:06] behrica commented on #174
Indeed, I have doubts as well.
So far Emacs has no "vscode-utils" or "devcontainer" mode.

I understand that you see it out-of-scope for `docker.el`

[2021-11-29 19:11] behrica commented on #174
The "close relationship" to lsp-mode, I don't see.
The use-case is to have an Emacs way to come from a "devcontainer.json" file to a running docker container.

And then we would use features of "docker.el" to use the running container (`docker-container-shell`,  open-container-files-via-tramp )

[2021-11-29 19:25] behrica commented on #148
1. Build this Dockerfile: https://github.com/behrica/vega-lite/blob/addDockerfile/.devcontainer/Dockerfile
2. start it with "docker run -ti ... /bin/bash"
3. User `docker-container-shell`
4. run 'echo $PATH' -> '/bin:/usr/bin:/sbin:/usr/sbin:/usr/local/bin:/usr/local/sbin'
    expected: /home/node/.gem/ruby/2.5.0/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

 The correct PATH i

[2021-12-03 18:01] asmodeus812 opened #175 "Emacs and docker tramp TTY problem"
Hi, I was recently playin with the docker package from this page - https://github.com/Silex/docker.el Which I think is using docker tramp. But i am unable to work around a very annoying problem. When i try to trigger the exec command, it constantly throws a warning or error. Attached shots below. I am quite confused and was unable to find any solution online, actually no one seems to have had this

[2021-12-05 11:34] Silex commented on #175
If the issue is with docker-tramp you'd ask here: https://github.com/emacs-pe/docker-tramp.el

But anyway it looks like you try to run `docker exec -it keycloak sh` from `helm-M-x-execute-command`... that won't work.

Try using `M-x term` and run the command there, and if that doesn't work try using `vterm`.

In this package you are supposed to use `docker-container-shells` (`b` key when listing c

[2021-12-14 17:48] bernaloo opened #176 "/bin/sh docker command not found"
Im missing something trivial here.

running emacs and docker in a mac os x Catalina

I get the following kind of error, when executing any of the docker.el binded commands.

I have checked, that "docker" is reachable from /bin/sh and globally, yet docker.el does not seem to find it.

`docker container ls --filter status=running --format="[{{ json .Names }},{{json .ID}},{{json .Image}},{{json .Comm

[2021-12-15 13:59] Silex commented on #176
Your emacs does not have the right PATH.

Try something like https://github.com/purcell/exec-path-from-shell, to make sure it works you can `M-x shell` then `echo $PATH` to confirm it's the same PATH as in a terminal from which docker works.

[2021-12-15 14:45] bernaloo commented on #176
That was the solution. Thanks

[2021-12-15 14:45] #176 closed

[2022-01-15 06:12] noorul opened #177 "Performance issues after docker-status introduction"
With the changes in https://github.com/Silex/docker.el/pull/84, I see that there is significant lag testing my patience. Please provide a mechanism to disable this.

[2022-01-15 06:14] noorul commented on #166
Option to use vterm (full-blow terminal emulator) with various commands.

[2022-01-23 12:19] Silex commented on #177
@joshbax189 any idea how to implement this?

[2022-01-23 21:03] joshbax189 commented on #177
@Silex yeah should be greatly improved by #171

[2022-01-25 05:30] noorul commented on #177
If anyone else is facing this issue, as a temporary mechanism I added the following to my config
`
(defun docker-container-description-with-stats() "Containers")
(defun docker-image-description-with-stats() "Images")
(defun docker-network-description-with-stats() "Networks")
(defun docker-volume-description-with-stats() "Volumes")
`

[2022-02-03 23:51] Silex opened #178 "Help with start-process"
Hello,

I'm going nuts, can someone explain:

[code]

As you see, nothing is quoted weirly or anything.

Now if I do the same in emacs:

[code]

Here is the output in `test`:

[code]

Here is the output in `test2`:

[code]

Why is there extra quotes around the docker output? :exploding_head:

I tried playing with `process-connection-type` but the quotes are always there. Using a filter does not ch

[2022-02-04 12:03] Silex commented on #178
Apparently emacs *doesn't* process quotes the same way as the shell does, so `"--format=\"[{{ json .ID }},{{json .ID}},{{json .Name}},{{json .Driver}},{{json .Scope}}]\""` is actually interpreted like `--format='"[{{ json .ID }},{{json .ID}},{{json .Name}},{{json .Driver}},{{json .Scope}}]"'`

[2022-02-04 12:03] #178 closed

[2022-02-07 11:14] Silex commented on #177
@noorul I'm working on the async branch which should dramatically improve performances. I'm also thinking about a global flag to disable stats.

[2022-02-08 10:54] Silex opened #179 "vterm support"
I think it means that only `docker attach/logs/run` would be feasible.

E.g I don't see a way to open a vterm shell inside an existing container, given it all works with TRAMP.

[2022-02-08 10:55] Silex commented on #166
@noorul continuing in #179

[2022-02-08 11:00] Silex commented on #166
Just a heads-up: I'm working on the async implementation and I found aio which produce very clean code (compare https://github.com/Silex/docker.el/blob/aio/docker-network.el#L90-L94 vs https://github.com/Silex/docker.el/blob/async/docker-network.el#L115-L128 (the comparison is not completely fair but you get the idea: waiting on multiple callbacks is a pain in vanilla emacs)).

The thing is aio ne

[2022-02-08 18:14] purcell commented on #178
Yup, in your original command the `"` is intercepted by the shell, and results in the argument `--format=[{{ json .ID }},{{json .ID}},{{json .Name}},{{json .Driver}},{{json .Scope}}]` passed to the executable itself. It's really just a way to stop the shell from breaking the command on spaces. You could just as easily use `"--format=...."`. In Emacs, `start-process` takes multiple args, and each i

[2022-02-09 16:14] noorul opened #180 "Question: multiple projects with multiple docker-compose files"
I work on multiple projects with multiple compose files.

project1 -> compose-p1-1.yaml, compose-p1-2.yaml
project2 -> compose-p2-1.yaml, compose-p2-2.yaml

Every time I need to run compose command I have to switch to the project using `projectile` and then use `C-c d F`.  Is there a way to configure compose file at the project level? Or is there a better workflow?

[2022-02-09 16:26] Silex commented on #137
@noorul at the moment to use multiple compose file you press `f` then input `foo.yml -f bar.yml`.

I'm not sure it's even feasible as https://github.com/Silex/docker.el/blob/master/docker-compose.el#L317 doens't use `read-string`.

There's this discussion about how we'd support that, but we basically wait on finding a transient way to do that.

[2022-02-09 16:29] Silex commented on #169
@joshbax189 if you want to tackle this it's probably the next thing where people complain a lot (see #137).

See my previous comment about possible options, I think we first need to reflect on how the user experience would look like then try to implement it.

[2022-02-09 17:19] noorul commented on #180
I think I was not able to convey the question properly.  I updated the question.

[2022-02-09 18:47] Silex commented on #180
Ah, good question.

@tarsius: is there a transient mechanism so we are able to store transient default settings per projectile projet?

Maybe by having projectile modify `transient-values-file` each time a projet changes?

[2022-02-09 19:59] tarsius commented on #180
No, but such functionality is planned. I just opened https://github.com/magit/transient/issues/189 to track this.

(FWIW my plans for the next few months are: Feb: personal stuff, Mar: undisclosed stuff, Apr: transient.)

[2022-02-09 20:00] tarsius commented on #180
Worth a try but it might break in the future.

[2022-02-10 01:00] noorul commented on #179
I could think of `docker-compose-exec`, `docker run` from image list and also we could provide exec option in `docker image list`

[2022-02-10 09:42] Silex commented on #179
Ah, apparently vterm works over TRAMP! When inside a docker container with TRAMP I was able to start a vterm buffer.

[2022-02-10 09:58] Silex commented on #179
So we can use vterm everywhere, the question is that we probably want to do like projectile and offer a shell/eshell/vterm experience... I'll think about it.

[2022-02-11 09:08] Silex commented on #180
@noorul: I think editing a `.dir-locals.el` that sets `transient-values` to the appropriate thing should work, see the linked issue (that is, until it's directly supported by transient).

If you want to play with it give us some feedback :wink:

[2022-02-14 03:35] noorul commented on #180
Is there any documentation with any example? I am looking for a sample format.

[2022-02-14 07:49] Silex commented on #175
Closing due to inactivity.

[2022-02-14 07:49] #175 closed

[2022-02-14 07:50] Silex commented on #69
This will be fixed by #179

[2022-02-14 07:50] #69 closed

[2022-02-14 07:51] Silex commented on #7
This will be fixed by #179

[2022-02-14 07:51] #7 closed

[2022-02-15 13:49] Silex commented on #177
@noorul, @joshbax189 can you guys give the [`async`](https://github.com/Silex/docker.el/tree/async) branch a test?

I need to handle things like error handling but it'd be functionnal.

Then I'll work on the magit-section (`$` buffer) and the `vterm` support.

[2022-02-16 02:33] chasecaleb opened #181 "Please don't rewrite history on master"
Hi,

At some point within the past week or so it looks like you rewrote history on master, which broke my emacs.d since I use your library as a git submodule. I had it pinned to commit 8d64cf4f84d7da5f839a8248fdddfb635a63f803 but it looks like the equivalent commit is now ff8a564622df8cf086e4ace9eb4251a74b20f77b, since the most recent three commits were rewritten. The [golden rule of rebasing](htt

[2022-02-16 09:43] Silex commented on #181
Ah, thanks for notifying I never thought of this case.

I often rewrite public history given I'm (almost) the only one pushing.

I'll try to avoid it in the future.

[2022-02-16 09:43] #181 closed

[2022-02-16 13:39] Silex commented on #177
@noorul: check the latest version and tell me if that's ok or reopen if you still need a mechanism to disable the status.

[2022-02-16 13:39] #177 closed

[2022-02-16 13:44] Silex commented on #179
It's on master! Please give me feedback.

[2022-02-16 13:44] #179 closed

[2022-02-16 13:44] Silex commented on #69
It's fixed on master if you have `vterm` installed, otherwise it's still the old behavior.

[2022-02-16 13:45] Silex commented on #4
It's DONE :tada:

[2022-02-16 13:45] #4 closed

[2022-02-16 16:33] chasecaleb commented on #181
Thanks for the consideration! And I completely get what you mean, I rebase religiously too for the same reasons :+1:

[2022-02-17 02:13] noorul commented on #179
@Silex Awesome! I will give it a try.

[2022-02-17 03:09] noorul commented on #177
This looks good to me with respect to performance. One issue is that the too many messages are being dumped to message buffer (bottom of the screen). This is distracting.

[2022-02-17 03:10] noorul commented on #177
Maybe a dedicated buffer like *magit-process* buffer could be better.

[2022-02-17 03:10] noorul commented on #180
@tarsius @Silex Any help to understand how can one set `transient-values` with an example will be great.

[2022-02-17 08:00] Silex commented on #177
This is the plan, yes.

[2022-02-17 08:04] Silex commented on #98
This should be ok now as it's `shell-mode` or `vterm-mode` that handles the buffer.

[2022-02-17 08:04] #98 closed

[2022-02-17 08:06] Silex commented on #180
If I had an example to give you I'd have done so.

I have more urgent things to do (e.g the magit-like process buffer when you press `$`), so the idea was that you try to find out how it works and build an example, see if that route works or not. Maybe it's a dead end.

[2022-02-17 08:15] noorul commented on #180
I see

[2022-02-17 11:57] tarsius commented on #180
(I am in a similar boot as @Silex, also busy and my tip also is just "something along those lines might work, give it a try".

[2022-02-19 19:52] pataquets commented on #136
@Silex : Since I'm using Spacemacs, I don't get the transient and it's also happening to me.
However, I've tried invoking `docker-container-ls` command and doing `l`. It works, but from time to time, it gets reset.

I'm an Elisp beginner. I can give it a stab and send a PR with some help (I've looked at the code, but not sure where to add it). Also, I've looked up for an [updated link](https://git

[2022-02-19 21:07] Silex commented on #136
@pataquets: the latest version on master should fix the issue, please comment if it doesn't.

[2022-02-19 21:07] #136 closed

[2022-02-21 01:19] amake opened #182 "Error on load: void-variable docker"
In the last few days I get an error when trying to load `docker`. My guess is that https://github.com/Silex/docker.el/commit/af4a88ac8b0a298a62514b65a908ed3cee1c023c introduced a circular dependency between `docker-core` and `docker-utils`.

Here is the error when evaluating `(require 'docker)`.

[code]

[2022-02-21 02:29] pataquets commented on #136
Thanks, @Silex !
I'm getting `eval-buffer: Symbol’s function definition is void: docker-utils-define-transient-arguments` on all `docker-{containers,images,...} commands. If I find, select and evaluate the mentioned `defmacro` it works OK. however, be advised that I'm using Spacemacs and I can't rule out the culprit is there or in my config.
I'm just reporting, since I'll be AFK for some days, in

[2022-02-21 07:11] Silex commented on #136
Ah, I think I broke something by introducing a circular dependency 😅

I have a fix almost ready, will keep you posted.

[2022-02-21 07:12] Silex commented on #182
Thanks! Yes I just noticed, a fix is coming shortly.

[2022-02-21 09:39] Silex commented on #182
It'd be fixed on master, please reopen if it doesn't.

[2022-02-21 09:39] #182 closed

[2022-02-21 09:39] Silex commented on #136
Should be fixed!

[2022-02-21 13:59] pataquets commented on #136
Indeed, it is. Now it works. Thank you very much, @Silex

[2022-02-22 16:14] noorul opened #184 "Error in "Remove" transient menu"
I get the following traceback when I press `D` from `*docker-containers*` buffer.

[code]

[2022-02-22 16:16] noorul commented on #184
Sorry, after cleaning up the elpa directory, this issue is gone.

[2022-02-22 16:16] #184 closed

[2022-02-22 16:29] Silex commented on #184
Yes, it's a bug that was briefly introduced for around 1h but then I corrected the issue, sorry for the annoyance.

[2022-02-22 16:36] noorul opened #185 "docker compose up just opens up new buffer"
With the latest version from melpa docker compose `up` action opens up a new buffer instead of running the actual command

[2022-02-22 16:59] Silex commented on #185
Thanks, was able to reproduce, investiguating. A temporary fix seems to `M-x eval-buffer` vterm.el and docker-process.el

[2022-02-22 17:14] Silex commented on #185
Should be fixed on master :tada:

[2022-02-22 17:14] #185 closed

[2022-02-22 21:34] alexkreisher opened #186 "Connection hangs over tramp"
Hi, thanks for this excellent package, the recent async refactor is exciting.

After updating, I'm trying to bring up the container list in a remote tramp buffer (to get running containers on a remote sever).

This used to wrok fine, however, since upgrading I get stuck with the following:
[code]
Which hangs until I quit with `C-g`.

Seems like the correct ssh command is not running, and we are tr

[2022-02-23 01:27] alexkreisher commented on #186
I think the issue here is specifically with `docker-network-update-status-async` when running `  (run-hooks 'docker-open-hook)` as part of opening the `docker` transient. I can call `docker-network-update-status-async` directly, and it will update , but when run as a hook, it hangs on getting the network status.

When running `docker-network-update-status-async` in a remote buffer:
[code]

When ru

[2022-02-23 07:36] Silex commented on #186
Ah interesting. My wild guess is that TRAMP is not reentrant or whatever it is called and does not support multiple tramp connections at the same time.

Can you confirm it works all the time when doing:

`(setq docker-open-hook '(docker-container-update-status-async))` ?

If yes then:

`(setq docker-open-hook '(docker-network-update-status-async))` ?

If yes then:

`(setq docker-open-hook '(docker

[2022-02-23 07:37] Silex commented on #186
I think there's the same behavior if you select multiple running containers and open a shell inside them.

[2022-02-23 07:38] Silex commented on #186
One easy fix would be to make things sequential when TRAMP is used but I'm not sure how.

[2022-02-24 00:13] alexkreisher commented on #186
Looks like this is in fact the case. All three examples worked fine, but adding `docker-network-update-status-async` to the hook (so 3/4 of the usual functions) triggered the hang-up.

This makes sense to me.

One thing I plan on doing is submitting a PR for a configuration variable for whether to update and display status in the `docker` transient (if this would be a welcome addition). For me, I

[2022-02-25 09:22] noorul opened #188 "vterm-mode is used in `log` output buffer also"
After adding support for vterm, all the other buffers are inheriting `vterm-mode` and hence key bindings. I think we should only use vterm for only terminal interaction and all other buffers should use the old way.

[2022-02-25 15:31] Silex commented on #186
I don't see a simple way to force tramp to become sequential so I'll just close this :shrug:

Would it make sense to disable transient statuses when over tramp maybe? with your newly introduced variable this looks easy to do.

[2022-02-25 15:32] Silex commented on #188
Using `vterm` for everything is much better because the experience is always the same, output is properly parsed instead of all the ugly display earlier with `shell-mode`, etc.

Why is this a problem that you have vterm keybindings?

[2022-02-25 23:32] alexkreisher commented on #186
I think this issue is still worth keeping open (or at least opening a similar one with a more specific description of the problem). I still run into this issue when I'm inpatient and repeatedly hit `g` in the container list while waiting for a container to start, for example. This is my own fault of course, and `quit`ing stops the hanging, but it could be confusing as to why this happens if you're

[2022-03-01 08:32] Silex commented on #188
@noorul: ping

[2022-03-01 13:37] noorul commented on #188
It is not perfect, for sometimes the buffer gets clipped when we adjust the window.

[2022-03-01 14:54] Walheimat commented on #188
And yes, the buffer content gets clipped and makes longer log lines unreadable.

[2022-03-01 15:14] Silex commented on #188
Okay, for the time being replace https://github.com/Silex/docker.el/blob/master/docker-process.el#L65 by `(if nil`

[2022-03-01 15:44] noorul commented on #188
IMO we should have a separate mode for log buffers.

[2022-03-03 14:11] Silex opened #191 "Add some CI to check byte compilation issues"
@LaurenceWarne 😉

[2022-03-03 19:49] LaurenceWarne commented on #191
I was testing GH actions with [eldev](https://github.com/doublep/eldev/) on my fork, and I kept getting the really weird byte-comp error on CI:
[code]
This was a bit :thinking: since it didn't show up with the previous byte-comp errors.  I thought there was some kind of error with `eldev compile`, it turns out that `transient-default-value` was added *after* the `0.3.7` transient release so `eldev

[2022-03-04 14:08] Silex commented on #191
Well sorry I should have specified, I'd like to use https://github.com/purcell/nix-emacs-ci :sweat_smile:

I opened this issue as a reminder, if you want to help go for it otherwise it's fine if you do nothing :wink:

[2022-03-04 14:20] LaurenceWarne commented on #191
Yeah I'm currently using: https://github.com/purcell/setup-emacs, `eldev` on top of that is just for easy dep resolution and gives a nice way in CI to check byte-comp :slightly_smiling_face: :

https://github.com/LaurenceWarne/docker.el/blob/add-ci/.github/workflows/test.yml

[2022-03-06 08:08] Silex commented on #191
Following in in the PR then :wink:

[2022-03-06 08:08] #191 closed

[2022-03-06 14:32] Silex commented on #188
Ok guys, please update and use `(setq docker-run-async-with-buffer-function 'docker-run-async-with-buffer-shell)`

[2022-03-06 14:32] #188 closed

[2022-03-06 16:12] LaurenceWarne opened #193 "Fix CI builds on MELPA stable"
Currently CI builds which grab deps from MELPA stable are failing (example:  https://github.com/Silex/docker.el/actions/runs/1941613092), this is because we're using `transient-default-value` which was added after the most recent `transient` release.

Ping @Silex, though I think I'm on the watch list for `transient` releases anyway so I can probably PR a quickfix on release.

[2022-03-06 18:51] Silex commented on #193
Ah, you meant an issue _here_ :laughing:

I thought you meant an issue on transient. I'll create one.

[2022-03-18 11:00] zeeros opened #195 "Empty lists of images and containers"
I have this problem with both melpa and melpa-stable versions. Containers and images are not displayed.

![image](https://user-images.githubusercontent.com/1713464/158990861-06c5d917-aafe-4ed1-a037-b8261634e2cc.png)

Also, if I try to pull a new image nothing happens.

[2022-03-19 14:12] Silex commented on #195
Can you show me what is displayed in the `* Messages *` buffer (`C-h e`) when you try to display the images list?

[2022-03-20 09:29] zeeros commented on #195
Nothing is printed out in `*Messages*`

[2022-03-20 10:59] Silex commented on #195
What is your emacs version? Can you try with `emacs -Q`?

[2022-03-20 18:56] zeeros commented on #195
Emacs 27.2

![image](https://user-images.githubusercontent.com/1713464/159178004-07fe61ca-5b95-4db9-95c1-9dda3a03bba3.png)

[2022-03-20 19:27] Silex commented on #195
This is really weird.

What does happen when you do: `M-x eval-expression RET (aio-wait-for (docker-image-entries)) RET` ?

[2022-03-21 15:37] zeeros commented on #195
`Symbol’s function definition is void: transient-default-value`

[2022-03-21 19:38] Silex commented on #195
Seems like you get hit by https://github.com/magit/transient/issues/190

But that does only happen with MELPA-stable, and you said you also tested with unstable.

Can you try with unstable again and make sure `transient` uses unstable?

[2022-03-22 10:35] zeeros commented on #195
With `transient-20220314.1605` both images and containers are correctly displayed

[2022-03-22 10:35] #195 closed

[2022-03-23 15:26] LeeRuns opened #196 "Was working, now is not, please help"
I looked through the issues and cannot find something similar so here we go...

I was using this package with no problems, and now suddenly I get nothing but this error:
`
Running: docker-compose config --services 2>/dev/null
error in process sentinel: docker-process-sentinel: Error running: "docker-compose config --services 2>/dev/null" (exited abnormally with code 1)
`

Help would be much apprec

[2022-03-24 12:38] Silex commented on #196
Can you produce a testcase?

Does `docker-compose config --services` work if you run it from the terminal?

[2022-03-26 14:23] LeeRuns commented on #196
Yep just ran this to check.

On Thu, Mar 24, 2022 at 6:38 AM Philippe Vaucher ***@***.***>
wrote:

--
Lee Runyon
Engineer + Periodic Wizbang

[2022-04-22 09:07] unmonoqueteclea opened #199 "Better Docker Compose support"
Hey, I am planning to add a new option to list all the Docker Compose projects (https://docs.docker.com/engine/reference/commandline/compose_ls/) with their status. I could add keybindings to start or stop their containers, and even a keybinding to show all the containers from a specific compose project.

Do you consider this could be approved and eventually be merged?

[2022-04-24 11:46] Silex commented on #199
Hello,

Yes sure, would that work a bit like projectile? Or more like a tabulated list of previously used docker-compose projets with columns summarizing the running/stopped/etc containers?

[2022-04-25 08:46] unmonoqueteclea commented on #199
My idea was doing a tabulated list of docker-compose projects.

But maybe, just offering a way to complete known projects when doing things like `docker-compose-start`or `docker-compose-stop`is fine. The problem with current `docker-compose`implementation in `docker.el` is that you need to be in the directory that contains the `docker-compose.yaml` file. I want to get rid of that limitation.

[2022-06-05 22:40] theottm commented on #195
Encountered the same problem. Also nothing in `*Messages*`. Maybe it would be nice to catch this error ?
For people using `use-package` and `straight` you can use this to get the latest version of transient:
[code]
Of course replace commit with [appropriate commit hash](https://github.com/magit/transient/commits/master).

[2022-06-07 07:17] Silex commented on #195
I don't see how it's even feasible to catch this error.

[2022-06-15 07:20] holgerschurig opened #204 "podman does not support "network ls --filter dangling=true""
I have the newest and shiniest podman installed, fresh from git:

[code]

And when I run `M-x docker` --- after `(setq docker-command "podman"`) of course --- I get this error messages:

[code]

And really, if I run this command in the shell, I get an error:

[code]

It works however without the filter:

[code]

Now I looked into docker.el source code, and found that this filter is hardcoded into

[2022-06-15 07:25] Silex commented on #204
Well, podman is not supported (see #110).

If you think it's feasible to support it, please help provide a path toward that.

Supporting old dockers is also not a priority to me :sweat_smile:

[2022-06-15 07:27] holgerschurig commented on #166
Funny, because podman recently implemented new things to it's "podman machine" calls. For example, look at https://github.com/containers/podman/releases/ and you see in Podman v4.1.0 from May 2022 you see several enhancements to "podman machine".

Personally I don't care about this poll entry, as I don't use "podman machine".

[2022-06-15 07:30] Silex commented on #204
That said, removing `dangling=true` can be disabled partially by using setting `docker-show-status` to nil, but then we need some new variable like `docker-no-pretty-listings` which uses `docker-container-entries` instead of `docker-container-entries-propertized`, etc.

[2022-06-15 07:31] Silex commented on #196
No news, closing.

[2022-06-15 07:31] #196 closed

[2022-06-15 08:40] holgerschurig commented on #204
I learned that only "podman network ls" doesn't support this filter. Interestingly, "podman image ls" and "podman volume ls" support it:

[code]

I also opened a ticket at Podman, because the problem might actually be there: https://github.com/containers/podman/issues/14595

If Podman fixes this, then only the part of "Stable Linux distributions with old versions of Docker doesn't have this filter

[2022-06-18 04:25] noorul commented on #166
support for `docker image history` command

[2022-07-28 20:33] gvoysey commented on #22
for anyone else coming here: `>` is the default kbd for `tablist-enlarge-column`, which works with `docker.el` to do exactly what you'd think.

[2022-09-04 16:48] #199 closed

[2022-09-21 20:11] tompurl opened #207 ""Run" Doesn't Launch Vterm By Default"
When issuing the 'run' command on an image using `docker.el` the shell is opened using `shell.el`, not `vterm`. I have `vterm` installed and can open shells with it.

I am using Spacemacs on Emacs 28.1 and the `docker` layer. I am also using the `shell` layer with the following config:

[code]

Here's my `docker.el` customizations:

[code]

Emacs runs within Ubuntu 20.04 on WSL2, Windows 10 and Vc

[2022-09-24 18:16] LaurenceWarne commented on #207
I had a quick look and saw: https://github.com/Silex/docker.el/blob/670b7c346ba562614c27b68c04723af784978c15/docker-process.el#L43 so if `vterm` is loaded after `docker`, this var would always be set as `docker-run-async-with-buffer-shell` rather than `docker-run-async-with-buffer-vterm`.

 Does (A) `(require 'vterm)` before loading `docker` anywhere, or (B) `(setq docker-run-async-with-buffer-fun

[2022-10-10 10:29] Silex commented on #207
Closing this as probably a configuration issue.

[2022-10-10 10:29] #207 closed

[2022-10-10 10:30] Silex commented on #204
Looks like it was merged, so this should be resolved.

[2022-10-10 10:30] #204 closed

[2022-10-12 07:00] Silex commented on #193
Well asking for a new release stresses tarsius too much, so I'll remove MELPA stable tests.

[2022-10-12 07:00] #193 closed

[2022-10-23 12:52] seagle0128 opened #209 "Warning in Emacs 29"
I got this warning in recent Emacs 29 build. It seems new package `tramp-container` is introduced.

[code]

[2022-10-24 18:31] Silex commented on #209
Should have been fixed by #208, can you confirm?

[2022-10-25 15:52] seagle0128 commented on #209
It works for me. Thanks!

[2022-10-25 15:52] #209 closed

[2022-10-26 08:31] aadi58002 opened #210 "Moving from a popup interface to a buffer Interface ( Similar to magit)"
This is a feature request.
I think it would be a great change to the ui. If can move from a popup bases console to a buffer based console(dashboard).

I think listing containers and images under a tab like magit does with commits will really help in manageing image and containers more effectively.

I keep finding myself hitting the docker command with a keybinding over a over again when managering

[2022-10-26 08:37] Silex commented on #210
You mean a view like `magit-status` where we can see recent commits and unstaged changes, but instead you'd have "Container" and "Images" and "Volumes" etc?

Well, a PR is welcome but the amount of work to do that seems a lot and the ROI not that great imho.

[2022-10-26 08:56] aadi58002 commented on #210
Yes.

Well . I don't think that ROI will be nothing as the Ui is very easy to work with and most people using emacs like to manager thing in a effiecent way.
Well we can keep this issue open and see people response to this feature request i think it will be a positive change.

Well i don't know any elisp bu t i will try to look at magit source code and see if it can be implemented in docker.el.

B

[2022-10-28 12:26] drivs opened #211 "Cannot see images, containers, networks, or anything"
As you can see on the below screenshot, I'm not able to list any of the docker images I have pulled. What is happening here?

![image](https://user-images.githubusercontent.com/4217621/198586371-d946d5b3-e450-434f-a784-2a32e7953cfc.png)

[2022-10-28 12:37] Silex commented on #211
Is your emacs shell fish as well? What does the buffer `* Messages *` says?

Otherwise as usual, OS/Emacs version etc.

[2022-11-03 18:04] andrewsw commented on #211
I have this issue too, and would love to help if I can. Current version of the packages is 20221013.1201

* My `*Messages*` buffer is clean.
* `M-x emacs-version` => `GNU Emacs 26.3 (build 1, x86_64-apple-darwin18.2.0, NS appkit-1671.20 Version 10.14.3 (Build 18D109)) of 2019-09-02`.
* MacOS 12.6.1 Monterey
* `docker --version` => `Docker version 20.10.17, build 100c701`

I get a blank screen just

[2022-11-10 12:53] Silex commented on #211
If you `M-x term` then type `docker ps -a` does it work?

[2022-11-10 17:11] seandjones92 commented on #211
I'm running into the same issue and installed and setup exec-path-from-shell but am still getting nothing in my docker popup. I can run docker commands from eshell, which is using the docker command provided from `docker-core.el` as seen below without issues

[code]

[2022-11-10 17:40] andrewsw commented on #211
I tried `term` with bash, `ansi-term` with sh, and `eshell`. Docker works just fine. Invoking docker via `shell-command` also works just fine.

Additionally, I hacked up `docker-run-start-file-process-shell-command` to give me some output, and it's clear that the execution of docker is working. It's just falling apart somewhere between there and the display buffer.

[2022-11-24 06:32] Silex commented on #211
I think `which` lies to you, using `(docker)` would call the elisp function but "docker ps" actually calls the real docker binary.

Does not help with the issue tho, something weird is going one, probably in `aio`.

[2022-11-24 08:00] Silex commented on #211
Ok I checked in a docker container:

![image](https://user-images.githubusercontent.com/16015/203725845-0fa1c4f4-c5d5-439e-b9fe-0e9f8f4f6711.png)

Preeeeetty sure the problem is OSX related.

[2022-11-24 08:06] Silex commented on #211
What happens if you do `M-x eval-expression (aio-wait-for (docker-container-entries-propertized (docker-container-ls-arguments)))` ?

[2022-11-27 09:09] Silex commented on #211
@andrewsw, @seandjones92, @drivs: friendly ping :wink:

[2022-11-28 17:26] andrewsw commented on #211
invokes the debugger with

`(void-function transient-default-value)`

`transient-default-value` was introduced to `transient` [about 11 months ago](https://github.com/magit/transient/blame/23b8670bfda65436fc03eb03adc8191a3e4e5a0d/lisp/transient.el#L2808), and my installation doesn't include it.

After upgrading `transient`, this is now working for me.

It looks to my untrained eye like the depende

[2022-11-28 18:52] pennersr opened #212 "Mark all images/containers on `% m RET`"
In other parts of Emacs, Dired for example, I can type `% m RET` to mark all files.

However, when I type `M-x docker-containers RET % m RET` I run into an error message: `No regexp given`.

Please consider altering the behavior to make the user experience consistent to that of default Emacs and select all images/containers when no regexp is given.

[2022-11-28 19:01] pennersr commented on #212
I just had a look on the way it is implemented, and apparently this is an issue in `tablist`.

[2022-11-28 19:06] pennersr commented on #212
Filed upstream: https://github.com/politza/tablist/issues/27

[2022-11-28 20:32] flocks commented on #211
I have the same problem on linux.

I have updated both `docker.el` and `transient.el` package with `straight-pull-all` and I require `transient.el` before `docker.el` in my config but I'm still running into the problem.

However if I manually go to the `transient-default-value` definition in the `transient` package and eval it myself, the problem is solved.